/*
	proscom.ru 
	Simple Communication
	Ilya Komichev
*/

@import "../css/normalize.css"
@import "_tools.styl"
@import "_common.styl"


//	#layout
// ===============================================
html
	height 100%
body.page
	position relative
	min-height 100%
	background #fff
	font-main()
.style-nes
	position relative
	width 1167px
	margin 0 auto
	padding 0 20px

.l-wrap
	position relative
	width 1167px
	margin 0 auto
	padding 0 20px
.l-left
	dtc()
	width 21%
	full() 
.l-content
	dtc()
	width 79%
	padding-left 50px
	padding-bottom 50px
	full()
.row
	display table
	width 100%
	padding-bottom 10px
.table
	display table
	width 100%
.col40
	position relative
	dtc()
	width 40%
	full() 
.col50
	dtc()
	width 50%
	full()
.col65
	dtc()
	width 65%
	full()
.col35
	dtc()
	width 35%
	full()

.col50:first-child
	padding-right 10px
.col50:last-child
	padding-left 10px
	 
.col60_padl
	dtc()
	padding-left 20px
	width 60%
	full() 
.col60_padr
	dtc()
	padding-right 20px
	width 60%
	full()
.padr10
	padding-right 10px
.padl10
	padding-left 10px

.no-margin-left
	margin-left 0
.no-padding
	padding 0 
.padding-bot-20
	padding-bottom 20px
.pad-right-30
	padding-right 30px
.min-height-200
	min-height 200px

.width-limit
	width 620px


//	#more
// ===============================================
.arrow
	&:after, &:before
		left 100%
		top 50%
		border solid transparent
		content " "
		height 0
		width 0
		position absolute
		pointer-events none
		z-index 2
	&:after
		border-left-color #fff
		border-width 14px
		margin-top -14px
	&:before
		border-left-color #f5f5f3
		border-width 18px
		margin-top -18px
.arrow-left
	&:after
		right 100%
		top 50%
		border solid transparent
		content " "
		height 0
		width 0
		position absolute
		pointer-events none
		border-width 5px
		margin-top -5px	
.arrow-right
	&:after
		left 100%
		top 50%
		border solid transparent
		content " "
		height 0
		width 0
		position absolute
		pointer-events none
		border-width 5px
		margin-top -5px


//	#main
// ===============================================
//	#has
.has-color-red
	color color-red
.has-bg-blue
	background-color color-blue-light
.has-bg-blue-dark
	background-color color-blue
	color #fff
.has-inline-padding
	padding 3px 5px
	margin-bottom 5px
.has-bg-grey
	background color-grey
.has-bottom-line
	linebottom()

//	#header
.header
	padding 30px 0 0 0
.header__logo
	float left
	display block
	width 208px
	height 57px
	margin-right 45px
	background url("../img/logo.png") no-repeat
.header__phone
	float left
	display block
	padding 10px 45px 0 0
	color #54585A
	font-size 26px
.header__lklink
	float right
	padding 13px 30px 12px 20px
	color color-blue
	font-size 14px
	border 1px solid #ccd8ed
	&:hover
		tdn()
		opacity .8
	.icon
		vertical-align middle
		margin-right 20px
.header__contacts
	padding-top 10px
	lino()
	float left
	.contacts__item
		padding-bottom 10px
		color color-blue-grey
		.icon
			vertical-align baseline
			margin-right 10px
		a
			color color-blue-grey
			tdn() 
			&:hover
				tdu() 
.header__in
	padding-top 40px
	padding-bottom 20px
	clearfix() 
	width 100%
	full() 
.header__menu
	float left
	lino()
	.menu__item
		position relative
		display table-cell
		full() 
		text-align center
		&_drop
			.menu__link
				padding-right 35px
		&_drop:after
			top 50%
			right 15px
			border solid transparent
			content " "
			height 0
			width 0
			position absolute
			border-top-color color-blue-grey
			border-width 5px
			margin-left -5px
			margin-top -2px
			anim()
		&_drop:hover
			&:after
				border-top-color #fff
			.menu__link
				color #fff
				tdn()
				background-color color-blue				
		&_hl
			.menu__link
				color color-red
	.menu__link
		display block
		padding 13px 25px
		color #000
		font-size 14px
		text-align center
		&:after
			content " "
			display block
		.is-active a
			color color-red 
	.menu-drop
		z-index 5
		display none
		position absolute 
		left 0px 
		top 42px
		background color-grey
		min-width 210px
		text-align left
		lino()
		a
			display block
			padding 10px 20px
			color #54585A
			&:hover
				color #fff
				background-color color-blue
				tdn()
.header__search
	float right
.header__banner
	position relative
	margin-bottom 20px
	background color-red
	img
		display block
		width 100%
	.banner__text-prev
		position absolute 
		right 0px 
		top 135px
		width 435px
		full() 
		padding 40px 40px 30px 40px
		color #FFF
		font-size 16px
		background-color color-blue
		.action
			padding-top 20px
	.banner__text-line
		padding 15px 20px
		color #fff
		a
			tdu() 
			color #fff
			&:hover
				tdn()
		.close-link
			display block
			float right
			anim()
			&:hover
				transform scale(1.2)

//	#footer
.footer__in
	padding 40px 40px	
.footer__menu
	background-color color-grey
	.l-wrap, .footer__in
		background-color color-grey
	ul
		display table-cell 
		padding-right 100px
		lino()
	li
		display block
		padding-bottom 10px
		color color-grey-dark
	li.title
		padding-bottom 25px
		font-weight bold
	a
		display block
		color color-grey-dark
		tdu() 
		&:hover
			tdn() 
.footer__info
	display table
	width 100%
	full() 
	background #ececec
	.footer__in
		display table
		width 100%
		full() 
.footer__pics
	dtc()
	full() 
	.pic
		dtc()
		vertical-align middle
		padding-right 50px
.footer__copy
	dtc()
	full() 
	vertical-align middle
	text-align right
	font-grey()			

//	#menu-left
.left-menu
	margin-bottom 45px
	padding 10px 0
	background-color color-blue-light
	ul
		lino()
	li.is-active a
		color #fff
		background-color color-blue
	a
		display block
		padding 15px 20px
		&:hover
			background-color color-blue
			color #fff
			tdn() 
.left-menu_red
	@extend .left-menu
	background-color color-red-grey
	li.is-active a
		background-color color-red
	a
		color color-red
		&:hover
			background-color color-red

//	#site-navig
.search-form
	position relative
	width 240px
	.search__field
		position relative
		width 100%
		full() 
	.search__submit
		position absolute 
		right 10px 
		top 10px
		width 20px
		height 20px
		padding 0
		margin 0
		background url("../img/i/search.png") center center no-repeat
		&:hover
			opacity .8
			background url("../img/i/search.png") center center no-repeat
.pathway
	margin-bottom 40px
	bg-grey()
	ul
		lino()
		clearfix()
		padding-left 1px 
		overflow hidden
	li
		float left
		padding 3px 2px
	a
		position relative
		display block
		color color-blue-grey
		background #fff
		padding 6px 5px 6px 25px
		font-12()
		@extend .arrow
	.home
		background #fff url("../img/logo-pathway.png") center center no-repeat
		width 16px
		height 19px
		margin-top 0px
		padding 4px 5px 4px 10px
.show-more
	display block
	padding 5px 10px
	font-12()
	text-align center
	background color-grey
	anim-none()		

//	#search	
.page-search
	padding-bottom 20px
.page-search-form
	padding 5px 5px
	overflow hidden
	bg-grey()
	clearfix() 
	.dates
		clearfix() 
	.inp
		padding-right 15px
	.inp-search
		margin-bottom 0
		font-12()
		color color-blue-grey
	.inp-search_sm
		@extend .page-search-form .inp-search
		width 85px
	span.sep
		display inline-block
		width 15px
		height 2px
		margin-left 7px
		margin-right 3px
		background color-blue-grey
	.select
		margin-bottom 0
	.action
		margin -6px
		float right
.page-search-found
	padding-top 10px
	padding-bottom 20px
	font-12()
	color color-grey-dark
	clearfix() 
	.count
		float left
		padding-right 25px
	.pages
		float left
		clearfix() 
	.pages__name
			float left
	.pages__list
		float left
		lino()
		
		li
			float left
		a
			padding 0 10px
		.is-active a
			color #000
.page-search-letter
	padding 20px 0 30px 0
	font-size 16px
	clearfix() 
	.desc
		margin-top 6px
	.inp-search
		width 380px
		padding 5px 10px
		margin-left 10px
	.info
		clear both
		font-size 12px
		font-style italic
		color color-grey-dark

//	#pager
.pager
	lino()
	clearfix() 
	padding-top 30px
	li
		display inline-block
		padding 0 5px
	a
		display block
		padding 3px 8px
		font-12()
	.is-active a
		border 1px solid color-blue
	span.sep
		display block
		padding 3px 8px
	.prev
	.next
		position relative
	
	.prev a
		@extend .arrow-left
		&:after
			border-right-color color-grey-dark
	.next a 
		@extend .arrow-right
		&:after
			border-left-color color-blue
	
	.prev.is-disable a:after
		border-right-color color-grey-dark
	.next.is-disable a:after
		border-left-color color-grey-dark
		
	.is-disable a
		color color-grey-dark
.pager_center
	text-align center
.pager_red
	.is-active a
		border-color color-red
	a
		color color-red
	.prev a:after
		border-right-color color-red
	.next a:after
		border-left-color color-red

.box-padding
	padding 20px



//	#site
// ===============================================
//	#red
.box
	padding-bottom 20px
	clearfix() 
.title-up
	margin 7px 0 0 0
	font-size 20px
.infograph
	background #f5f5f5
	margin-bottom 40px

//	#content
.page-name
	font-size 24px
	margin-bottom 20px
	&.has-margin-bottom
		margin-bottom 40px
.phones
	padding 30px 40px 40px 40px
	.phone
		dtc()
		width 33%
		padding 0 20px
		full() 
		text-align center
		.phone-num
			width 220px
			linebottom()
			font-link()
			font-size 24px
		.phone-text
			width 220px
.situation
	padding 10px 0 10px 20px
	margin-bottom 20px
	border-left 6px solid #fff
	&_green
		border-color #29a257
	&_orange
		border-color #ffa836
	&_red
		border-color #d8492d
.content-box
	padding-bottom 30px
	p
		line-height 20px
	ul
		lino()
	ul li
		position relative
		margin-bottom 20px
		padding-left 20px
		line-height 20px
	ul li:before
		content " "
		position absolute 
		left 0px 
		top 6px
		width 8px
		height 8px
		border-radius 10px
		background color-blue-grey
	
//	#block
.block
	padding-bottom 40px
	&.padding-bot-20
		padding-bottom 20px
.block_reforminfo
	.block__name
		h3 
			color #7E919B
			font-size 17px
	.block__content
		margin-top -15px
		padding-top 20px
		padding-left 20px
		padding-right 20px
		background-color color-red-grey
		ul
			lino()
		li
			padding-bottom 20px
.block__name
	linebottom()
	h3
		font-size 24px
		font-weight 300
		margin-bottom 0
.block__name_no-border
	@extend .block__name
	border-bottom none
.block__content
	padding 10px 0 0 0
.block__content_bg-blue
	margin-top -15px
	padding 25px 30px 20px 30px
	background-color color-blue-light
.block__content_bg-grey
	margin-top -5px
	padding 25px 30px 20px 30px
	background-color color-red-grey
.block__content_padding_ins
	padding-left 20px
	padding-right 20px

//	#check-status
.check-status
	padding-bottom 40px
	clearfix()
	.link
		display block
		font-size 24px
		padding 70px 0 70px 165px
		&:hover
			tdn()
.check-status__write
	float left
	width 49%
	height 170px
	full() 
	padding-right 10px
	background #f4fff9 url("../img/i/check-status__write.png") 35px 35px no-repeat
	border 1px solid #cceddf
	anim()
	&:hover
		opacity .8
	.link
		color #00B97A
.check-status__check
	float right
	width 49%
	height 170px
	full() 
	padding-left 10px
	background #f4f8ff url("../img/i/check-status__check.png") 35px 35px no-repeat
	border 1px solid #ccd8ed
	anim()
	&:hover
		opacity .8
	.link
		padding-top 60px
		padding-bottom 50px
		color #ccd8ed

//	#formline
.formline
	padding-bottom 30px
.formline__name
	padding-bottom 10px
.formline__desc
	@extend .font-grey-small
	font-style italic

//	#item
.item-date-link
	padding-bottom 20px
	.pic-left
		display table-cell
		width 0px
		padding-right 20px
		vertical-align top
	.content-right
		display table-cell
		vertical-align top 
	.file
		width 40px
		height 42px
		position relative
		color: white;
		font-weight: bold;
		font-size: 10px;
		padding: 29px 0 0 17px;
		box-sizing: border-box;
		background url("../img/file.png") no-repeat
	.file_doc
		background url("../img/file-doc.png") no-repeat
	.file_pdf
		background url("../img/file-pdf.png") no-repeat
	.pic
		padding-bottom 10px
	.normal
		padding-bottom 3px
	.big-blue-grey
		padding-bottom 3px
		font-size 16px
		color color-blue-grey
	.small-blue-grey
		font-size 12px
		color color-blue-grey
	.small-grey
		padding-bottom 3px
		font-size 12px
		font-grey()
	.date
		padding-bottom 3px
		font-size 11px
		display inline-block
		font-grey()
	.date__tag
		position relative
		display inline-block
		padding 3px 10px 3px 5px
		margin-left 15px
		font-size 11px
		color #fff
		background-color color-blue-grey
	.date__tag:after
		right 100%
		top 50%
		border solid transparent
		content " "
		height 0
		width 0
		position absolute
		pointer-events none
		border-color rgba(136, 183, 213, 0)
		border-right-color color-blue-grey
		border-width 10px
		margin-top -10px
	.date__tag_green
		background #8cc63e
		&:after
			border-right-color #8cc63e
	.date__tag_red
		background color-red
		&:after
			border-right-color color-red
	.date_bg-blue-dark
		@extend .has-bg-blue-dark
		margin-bottom 5px
		padding 3px 5px
		color #fff
	.link
		font-size 16px
	.meta
		.map
			background url("../img/i/map.png") no-repeat
			padding-top 2px
			padding-left 17px
			margin-left 10px
			color color-blue-grey
			font-12()
.item-lists
	lino()
	li
		padding-bottom 20px
	a
		font-size 16px
	.count
		@extend .has-bg-blue-dark
		margin-left 10px
		padding 3px 5px			
	.desc
		font-grey()
.item-lists_sm
	li 
		padding-bottom 15px
		a
			font-size 14px

.item-table
	display table
	table-layout fixed
	width 100%
	border 1px solid #e3e3e3
	margin-bottom 10px
	.td
		display table-cell 
		vertical-align top
		padding 15px
	.pic
		width 90px
		text-align center
		img
			display inline-block
			border 1px solid #e3e3e3
	.desc
		width 380px
	.count
		width 100px
		text-align center
		vertical-align middle
	.place
		text-align center
		vertical-align middle
	.line.big
		font-size 16px
		padding-bottom 3px
	.line.normal
		font-size 12px
	.line.grey
		color color-grey-dark	
	.has-padding-bottom
		padding-bottom 10px
	.avaliable
		margin-top 5px
		padding-top 30px
		font-size 12px
	.avaliable.many
		background url("../img/i/count-many.png") center 0 no-repeat
	.avaliable.little
		background url("../img/i/count-little.png") center 0 no-repeat
	.place
		font-size 12px
		.km
			display inline-block
			padding 10px 0 10px 20px
			background url("../img/i/pin.png") 0 center no-repeat
		a
			color color-black
//	#vote
.vote
	.choice
		padding-top 30px
	.action
		padding-top 30px
		text-align center

//	#review
.reviews
	position relative
	padding-bottom 10px
	max-width 400px
	.review
		float left
	.link
		float left
		width 19px
		height 19px
		cursor pointer
		&:hover
			opacity .8
	.lSAction
		position absolute 
		right 0px 
		bottom 0px
	.lSPrev
		@extend .reviews .link
		margin-right 30px
		background url("../img/arrow-blue.png") no-repeat
		transform rotate(180deg)
	.lSNext
		@extend .reviews .link
		background url("../img/arrow-blue.png") no-repeat
.review__text
	position relative
	font-size 16px
.review__name
	padding-top 30px
	font-grey()
	font-style italic

//	#faq
.faq
	position relative
	padding-bottom 30px
	&.is-active
		.faq__quest a
			color alpha(color-blue, .8)
		.faq__quest:after
			transform rotate(180deg)		
.faq__quest
	padding 20px 50px 20px 70px
	position relative
	background url("../img/quest.png") 15px center no-repeat
	background-color color-blue-light
	border 1px solid #ccd8ed
	&:after
		position absolute 
		right 20px 
		bottom 20px
		content " "
		width 19px
		height 10px
		background url("../img/arrow-quest.png") right bottom no-repeat
		anim()
	a:hover
		tdn() 
		color alpha(color-blue, .8)
.faq__answer
	display none
	position relative
	padding-left 30px
	padding-top 20px
	padding-bottom 20px

//	#comments
.comments-count
	display inline-block
	padding-left 20px
.comments-write
	position relative
	padding-bottom 20px
	border-bottom 5px solid color-grey
	.pic
		position absolute 
		left 0px 
		top 0px
	.content
		padding-left 80px
	.user-name
		padding-bottom 10px
	.user-text
		padding-bottom 20px
	.action
		position relative
		text-align right
.comments-list
	position relative
	padding-top 20px
.comment
	padding-bottom 40px
	clearfix() 
	.answer
		display none
.comment__prev
	float left
	width 55px
	padding-right 20px
.comment__content
	overflow hidden
	.meta
		clearfix() 
		padding-bottom 10px
	.name
		float left
		padding-right 20px
	.date
		float left
		color color-blue-grey
	.time
		float left
		padding-right 5px
		padding-top 2pxv
	.date_tag
		font-12()
		float left
		padding 2px 3px
		background #c6cfd4
		color #fff
	.content
		padding-bottom 10px
		line-height 20px
	
//	#event
.eventinfo
	width 280px
	margin 0 20px 20px 0
.eventinfo__date
	padding 10px 10px 10px 65px
	color #fff
	line-height 19px
	background color-blue-grey url("../img/i/calendar.png") 15px center no-repeat
	strong
		display block
.eventinfo__content
	padding 15px 15px 20px 15px
	background color-grey
	line-height 20px
	ul
		lino()
		li
			padding-bottom 15px

//	#news
.news_red
	margin -25px -30px -25px 0
	background #eeeeee
.news-item
	position relative
	padding 10px 70px 5px 15px
	border 1px solid #fff
	border-bottom none
.news-item__name
	a
		font-12()
		color color-red
.news-item__meta
	padding-top 5px
	.comments-count
		padding-left 0
	.user
		padding-left 10px
		a
			font-12()
			color color-blue-grey
.news-item__rating
	position absolute 
	right 15px 
	top 20px
	bottom 0
	font-size 26px
	color color-blue-grey

//	#slider
.slider-inform
	position relative
	width 700px
	.lSGallery
		position absolute 
		width 0px
		right 30px
		width 400px 
		bottom 30px
		text-align right
		lino()
		li
			display inline-block
			opacity .5
			anim()
			&:hover
				opacity .8
		li.active
			opacity 1
		a
			display block
	.slide
		position relative
		float left
	.pic
		position relative
	.text
		position absolute 
		width 250px
		left 60px 
		top 40px
		font-link()
		font-size 22px
		p
			margin-bottom 0
		i
			font-size 14px
	.action
		position absolute 
		left 40px 
		bottom 30px
		
//	#tags
.tags
	padding-bottom 3px
	font-size 11px
	display inline-block
	font-grey()
.tags__item
	position relative
	display inline-block
	padding 3px 10px 3px 5px
	margin-left 20px
	font-size 11px
	color #fff
	background-color color-blue-grey			
.tags__item:after
	right 100%
	top 50%
	border solid transparent
	content " "
	height 0
	width 0
	position absolute
	pointer-events none
	border-right-color color-blue-grey
	border-width 10px
	margin-top -10px

//	#timeline	
.timeline-item
	position relative
	padding-top 102px
	&:first-child
		padding-top 82px
	&.last
		padding-bottom 80px
.timeline-item_no-date
	padding-top 20px
.timeline-item__meta
	position relative
	padding 4px 4px 2px 15px
	border 2px solid color-grey
	clearfix() 
.timeline-item__cat
	float left
	a
		display inline-block
		font-12()
		color color-blue-grey
.timeline-item__data
	position absolute 
	width 200px
	left 50%
	top 0px
	margin-left -10px
	.pos
		position absolute
		width 60px 
		left 50%
		top -85px
		margin-left -124px
		display inline-block
		padding 4px 10px
		height 55px
		text-align center
		color #fff
		background-color color-red
		.num
			font-size 30px
		.month
			font-12()
	.sep
		position absolute 
		left 50% 
		top auto
		bottom -20px
		width 3px
		margin-left -1.5px
		height 20px
		background-color color-red
	.sep-top
		@extend .timeline-item__data .sep
		left 49% 
		top -20px
	.sep-no-date
		@extend .timeline-item__data .sep
		top -22px
		left 20px
	.time 
		text-align left
		padding-top 4px
		font-12()
		color color-blue-grey
	.comments-count a
		padding-top 2px
		padding-bottom 2px		
.timeline-item__content
	border 2px solid color-grey
	border-top 0
	padding 15px
	.name
		display inline-block
		padding-bottom 20px
		color color-red
.timeline-item__pic
	display table-cell
	padding-right 20px
	vertical-align top
.timeline-item__text
	display table-cell
	vertical-align top
	a
		color color-red
.timeline-item__last-bg
	position absolute 
	left 50%
	bottom 20px
	width 3px
	margin-left 3px
	height 60px
	background-color color-red
	&:after
		content " "
		display block
		position absolute 
		left -5px
		bottom 0px
		width 13px
		height 13px
		border-radius 13px
		background-color color-red

//	#filter
.filter-items
	padding-bottom 10px
	clearfix() 
	&.has-padding-bottom
		padding-bottom 40px
.filter-item
	position relative
	display inline-block
	width 210px
	text-align left
.filter-item__name
	padding-bottom 10px
	font-size 16px
.filter-item__name-ch
	position relative
	padding 10px 15px
	color color-grey-dark
	border 1px solid color-grey-med
	cursor pointer
	&:after
		position absolute
		right 10px
		top 28px
		content " "
		width 10px
		height 6px
		margin-top -12px 
		background url("../img/i/arrow-grey-dark-bottom.png") no-repeat
		transform rotate(-90deg)
		anim()
	&.is-open:after
		transform rotate(0deg)
.filter-item__content
	display none
	z-index 10
	position absolute
	width 100%
	full()  
	left 0px 
	top 64px
	border 1px solid color-grey-med
	padding 10px 0 10px 0
	background #fff
	.line
		padding 7px 15px
.filter-item__search
	width 240px
	padding-top 27px
	.inp-search
		width 100%
		full() 
		margin-bottom 20px
		padding-left 40px
		border-color color-grey-med
		background url("../img/i/search.png") 15px center no-repeat !important	

//	#select
.select-wrap
	position relative
	.title
		text-overflow ellipsis
		white-space nowrap
		overflow hidden
	.select
		position relative
		padding 10px 15px
		padding-right 30px
		color color-grey-dark
		border 1px solid color-grey-med
		cursor pointer
		&:after
			position absolute
			right 10px
			top 28px
			content " "
			width 10px
			height 6px
			margin-top -12px 
			background url("../img/i/arrow-grey-dark-bottom.png") no-repeat
			transform rotate(-90deg)
			anim()
		&.is-open:after
			transform rotate(0deg)
			
	ul.option-list
		display:none
		overflow hidden
		z-index 5
		position absolute
		left 0
		top 0px
		width 100%
		full()
		lino()
		background #fff
		border 2px solid #f0f0f0
		border-top none
		li
			padding 10px 15px
			cursor pointer
			&:hover
				color #fff
				background #0072b9
			&.active
				color #fff
				background #0072b9
				cursor default


//	#btns
// ===============================================
.btn
	display inline-block
	padding 14px 30px
	font-size 16px
	font-weight 600
	tdn()
	&:hover
		tdn()
.btn_white
	color color-blue
	background #fff
	&:hover
		background alpha(#fff, .9)

.btn_trans_sm
	display inline-block
	padding 5px 10px 5px 25px
	font-12()
	border 1px solid color-grey
	&:hover
		border-color color-blue
		tdn()
.btn_trans_answer
	@extend .btn_trans_sm
	background url("../img/i/replay.png") 10px center no-repeat
.btn_trans_comments
	@extend .btn_trans_sm
	color color-blue-grey
	background url("../img/i/comments-count.png") 10px center no-repeat
.btn_trans_comments_red
	@extend .btn_trans_comments
	&:hover
		border-color color-red

.btn_blue, input.btn_blue
	color #fff
	background color-blue
	&:hover
		background alpha(color-blue, .8)
.btn_blue_wide, input.btn_blue_wide
	@extend .btn_blue
	padding-left 40px
	padding-right 40px

.btn_red
	@extend .btn
	font-size 16px
	color #fff
	text-align center
	background-color color-red
	&:hover
		background alpha(color-red, .8.5)
.btn_red_sm
	font-size 14px
	padding 10px 20px


//	#icon
// ===============================================
.icon
	display inline-block
	vertical-align baseline
.icon-map
	width 12px
	height 16px
	background url("../img/i/map.png") no-repeat 
.icon-email
	width 16px
	height 10px
	background url("../img/i/email.png") no-repeat 
.icon-close
	width 9px
	height 9px
	background url("../img/i/close.png") no-repeat 
.icon-user
	width 26px
	height 32px
	background url("../img/i/user.png") no-repeat 
	
//	#scroller
.scroller-box
	overflow hidden 
	position relative
	height 300px
	padding-bottom 5px
.mCustomScrollBox 
	position relative
	overflow hidden
	height 100%
	max-width 100%
	&:hover
		.mCSB_scrollTools
			opacity 1;
	.mCSB_container
		overflow hidden
		width auto
		height auto
		margin-right 30px;
	.mCSB_scrollTools
		position absolute
		width 17px
		height auto
		left auto
		top 5px
		right 5px
		bottom 0px
		.mCSB_draggerContainer
			position absolute
			top 0px
			left 0px
			bottom 0px
			right 0px
			height auto;
			.mCSB_dragger 
				z-index 1
				width 100%
				height 30px
				cursor pointer;
				.mCSB_dragger_bar					
					position relative
					width 17px
					height 100%
					margin 0px auto
					text-align center
					background-color #ebeff5;
			.mCSB_draggerRail
				width 5px
				height 100%
				margin 0px auto