
/*
	proscom.ru 
	Simple Communication
	
	ilko.me
	Ilya Komichev
*/

@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=cyrillic,latin")
@import "css/normalize.css"
@import "_tools"
@import "_common"
@import "_flexiblegs"


small = "(min-height 700px) and (min-width 1300px)"
fullhd = "(min-height 900px) and (min-width 1800px)"


//	#layout
// ===============================================
html
	height 100%
.page-body
	overflow-y scroll
	height 100%
	font-main()
	background #eeeeee
	min-width 1320px
.page-white
	background color-white
.ilkome
	display table
	table-layout fixed
	position relative
	width 100%
	min-width 1270px
	min-height 100%
@-moz-document url-prefix()
	.ilkome
		height 100%

#menu
	z-index 100
	position fixed
	left 0
	top 0
	opacity 0
	background #fff
	&:hover
		opacity 1
	a
		display inline-block
		padding 5px

.l-left
	display table-cell
	position relative
	width 260px
	height auto
	vertical-align top
	background color-black
	@media small
		z-index 10
		position fixed
		display block
		left 0
		top 0
		height 100%
.l-right
	display table-cell 
	position relative
	width 100%
	padding 20px 20px 80px 20px
	full()
	vertical-align top
	anim()
		&.has-padding
			padding-top 20px
	@media small
		padding-left 280px
		//padding-top 115px

.row
	dt()
.col
	width 100%
	dtc()
	vertical-align top
	full()
	&.is-middle
		vertical-align middle
.col-30
	width 30%
	padding-right 10px
.col-70
	width 70%
	padding-left 10px
	
.row-2
	> .col
		width 50%
	> .col:first-child
		padding-right 15px
	> .col:last-child
		padding-left 15px
.row-3
	> .col
		width 33.333%
	> .col:first-child
		padding-right 10px
	> .col:last-child
		padding-left 10px

.pad-b-80
	padding-bottom 80px


//	#btns
// ===============================================
.btn 
	display inline-block
	width 200px
	padding 20px 10px
	full() 
	text-transform uppercase
	white-space nowrap
	color color-white
	font-size 13px
	line-height 16px
	font-bold()
	text-align center
	border-radius 3px
	&:hover
		color color-white
.btn-blue
	@extend .btn
	background color-blue
	&:hover
		background #599cc8
.btn-green
	@extend .btn
	background #3cc8b4
	&:hover
		background #1abca5
.btn-grey
	@extend .btn
	color #A2A2A2
	background #e7e7e7
	&:hover
		color #A2A2A2
		background #dedede
.btn-red
	@extend .btn
	background color-red
	&:hover
		background #bd5e5e
.btn-blue-dotted
	display block
	width 100%
	full()
	padding 15px
	font-size 16px
	color #50b3a5
	text-align center
	border 1px dashed #50b3a5
	border-radius 4px
	&:hover
		color alpha(#50b3a5, .7)
		border-color alpha(#50b3a5, .7)


//	#icon
// ===============================================
.icon
	display inline-block
	vertical-align baseline
.icon-medals
	font-size 30px
	display inline-block
	padding-right 25px
	background url("../img/icons/medal.png") center right no-repeat
	&.has-margin
		margin-right 15px


//	#main
// ===============================================

//	#content
.contentbox
	padding-top 60px
	padding-bottom 30px
.contentbox__name
	padding-bottom 40px
	.desc
		color color-grey
		font-size 13px
		text-transform uppercase
.contentbox-text
	padding 90px 0 50px 0
	font-light()
	&.has-small-padding
		padding-top 30px
	h1 
		font-size 36px
		margin-bottom 75px
		&.is-small
			font-size 16px
			line-height 16px
			text-transform uppercase
			font-regular()
	p
		margin-bottom 30px
		line-height 30px
		font-size 16px
.contentbox-wrap
	width 1036px
	margin 0 auto
	padding 0 40px
	full()


ol.list-offer
	lino()
	margin-bottom 75px
	li
		margin-bottom 40px
		font-size 16px
		line-height 40px
	li.name
		margin-bottom 10px
		text-transform uppercase
		font-light()
.add-task-full
	padding-bottom 20px
	a
		@extend .btn-red
		width 100%
		display block
		padding 25px
		font-size 16px
		background #c46d6d
		.link
			display inline-block
			padding-left 30px
			background url("../img/icons/plus.png") no-repeat
	
//	#blocks
.close-popup
	float left
	background color-grey-opacity
	border-radius 4px
	a
		display block
		width 75px
		height 75px
		background url("../img/icons/close.png") center center no-repeat
		&:hover
			transform rotate(180deg)
.dateblock
	display inline-block
	position relative
	padding-left 40px
	text-align left
	.day
		position absolute 
		left 0px 
		top -2px
		color color-grey-dark
		font-size 30px
	.month
		padding-top 6px
		font-size 13px
		line-height 13px
		color color-grey
		text-transform uppercase
	.year
		font-size 11px
		color color-grey
.membersblock
	display inline-block
	padding-right 30px
	color color-grey-dark
	font-size 30px
	background url("../img/icons/membersblock.png") right 13px no-repeat
.rub
	display inline-block
	width 18px
	height 18px
	background url("../img/icons/rub.png") no-repeat
.slider-nav
	float left
	padding 28px 0 0 30px
	clearfix()
	ul
		lino()
	li
		display inline-block
		vertical-align middle
	a
		display block
	li.prev
		padding-right 15px
		a
			width 17px
			height 14px
			background url("../img/icons/arrow-right.png") no-repeat
			transform rotate(-180deg)
			&:hover
				opacity .7
	li.next
		padding-left 15px
		a
			width 17px
			height 14px
			background url("../img/icons/arrow-right.png") no-repeat
			&:hover
				opacity .7
	li.sep
		width 1px
		height 22px
		margin 0 5px
		background #e6e6e6
.action-btns
	text-align center
	a
		margin 0 10px	

//	#infobox
.infoboxs
	position relative
	padding-bottom 50px
.infoboxs-col-1
	wrap()
	gutter(10px)
	align(left)
.infoboxs-col-2
	wrap()
	gutter(10px)
	align(left)
	.infobox
		col(1, 1)
		@media fullhd
			col(2, 1)
.infoboxs-4-col
	wrap()
	gutter(10px)
	align(left)
	.infobox
		col(3, 1)
		@media fullhd
			col(4, 1)
.infobox
	padding 10px	
.infobox-in
	text-align center
	padding 20px
	background #fff
	border-radius 4px
	border 1px solid transparent
	anim()
	&:hover
		border 1px solid alpha(color-grey, .5)
	@media small
		padding 50px 40px
.infobox__head
	dt("auto")
	overflow hidden
	padding 0 30px
	height 75px
	margin-bottom 20px
	background color-white
	border-radius 3px
	.col
		width auto
	.pic-in
		padding 10px 20px 10px 0px
		img
			border 10px solid #ededed
			border-radius 32px
	.name-in
		padding 27px 10px 10px 0
		overflow hidden
		font-16-ttu()
	.slider-nav
		width 120px
		position relative
		
.infobox__meta
	clearfix()
	.name
		float left
		h3
			margin 0
			font-size 13px
			color color-grey
			text-transform uppercase
	.price
		float right
		color color-red
		font-size 16px
		.rub
			margin-bottom -3px
.infobox_empty
	.booty-in
		position relative
	.w1
		width 40%
	.w2
		width 60%
	.w3
		width 80%
	.line
		display block
		height 10px
		margin 0 auto
		margin-bottom 10px
		background #f1f1f1
	.desc
		margin-top 30px
.infobox__pic
	img
		anim()
	img:hover
		opacity .7
.infobox__content
	padding-top 30px
	color color-grey
	.name
		padding-bottom 10px
		font-16-ttu()
		anim()
		&:hover
			color color-red
	.date
		padding-bottom 30px
		font-size 13px
		text-transform uppercase
	.content
		position relative
		font-size 14px
		font-light()
		line-height 25px
		&.has-min-height
			min-height 60px
	.hover
		display none
		text-indent 0px
		position absolute 
		left 0px 
		top 10px
		width 100%
	img
		display block
		width 100%
.infobox__price
	font-size 20px
	color color-red
	.rub 
		margin-bottom -1px
.infobox__count
	padding 40px 0
	font-light()
	white-space nowrap
	.num
		font-size 90px
		color color-grey-dark
	.desc
		font-size 20px
		color color-grey
.infobox__more
	font-size 13px
	
//	#greybox
.greybox
	background color-grey-opacity
	margin 0 -20px 60px -20px
	padding 60px 0 40px 0

//	#faq
.faq
	padding-bottom 50px
.faq-item.is-active
	.faq-item-quest
		border-color color-red
		border-color color-red
.faq-item-quest
	dt("auto")
	margin-bottom 2px
	background #f5f5f5
	border-radius 4px
	border-left 4px solid transparent
	border-right 4px solid transparent
	anim()
.faq-item__num
	dtc()
	padding 25px 25px
	color color-grey
	text-align center
	vertical-align middle
.faq-item__name
	dtc()
	padding 25px 0
	vertical-align middle
	.cat
		color color-grey
		font-size 10px
		text-transform uppercase
	.name
		a
			display table
			color color-grey-dark
			text-transform uppercase
			line-height 20px
			&:hover
				color color-red
.faq-item__action
	dtc()
	padding 25px 30px
	vertical-align middle
	a
		display block
		&.plus
			font-size 30px
			font-light()
			color color-grey
		&.open
			transform rotate(45deg)
			color color-red
.faq-item__content
	margin-bottom 2px
	display none
	background #f5f5f5
	padding 40px 60px
	font-light()
	font-size 16px
	line-height 30px
.faq-ask
	position absolute
	z-index 10
	left 0px 
	top 0px
	width 100%
	@media small
		position fixed
		top 0px 
		z-index 10
		
.faq-ask-in
	display none
	margin-top 115px
	padding 50px 0
	background #eeeeee
	@media small
		margin 75px 0 0 260px
	.action
		text-align center
		a
			margin 0 10px
	

//	#files
.files
	position relative
	padding-bottom 30px
	&.has-padding
		padding-bottom 100px
	&.has-padding-60
		padding-bottom 60px
.file
	margin-bottom 3px
	padding 10px 15px 10px 10px
	clearfix() 
	text-align left
	border-radius 4px
	background color-grey-opacity
	anim()	
.file__ext
	float left
	width 28px
	height 32px
	padding-top 9px
	font-size 11px
	color color-white
	text-align center
	vertical-align middle
	&.red
		background url("../img/icons/file-extend-red.png") no-repeat
.file__prev
	float left
	width 28px
	font-size 11px
	color color-white
	text-align center
	vertical-align middle
.file__name
	float left
	padding-top 7px
	padding-left 20px
	a
		color color-grey
		text-transform uppercase
		font-size 13px
		font-regular()
		&:hover
			color color-red
.file__download
	float right
	padding-top 10px
	a
		display inline-block
		width 16px
		height 16px 
		background url("../img/icons/download.png") 0 -16px no-repeat
		&:hover
			background-position 0 0
.file__remove
	float right
	padding-top 8px
	a
		display inline-block
		width 16px
		height 16px 
		background url("../img/icons/remove.png") center center no-repeat
		opacity .5
		&:hover
			opacity 1
			
//	#filter-menu
.filter-menu
	float left
	padding 15px 0 0 20px
	overflow hidden
	&.is-blue
		a:hover
			color color-blue
		li.is-active
			a
				color #fff
				background color-blue
	ul
		lino()
		clearfix()
		background color-grey-opacity
		border-radius 30px
		padding 3px
	li
		float left
		&.is-active
			a
				color color-white
				background color-red
				border-radius 30px
	a
		display block
		padding 12px 15px
		color color-grey
		text-transform uppercase
		&:hover
			color color-red
					
//	#footer
.footer
	position absolute
	left 0
	bottom 40px
	width 100%
	padding-left 300px
	padding-right 40px
	full()
	clearfix() 
.footer-copy
	float left
	padding 5px 0 4px 45px
	color color-grey
	background url("../img/logo-sm.png") 0 center no-repeat
.footer-menu
	float right
	ul 
		lino()
	li
		display inline-block
		padding-left 30px
	a
		color color-grey
		font-size 13px
		&:hover
			color color-red
	li.is-active a
		color color-red
		
// #left
.left-logo
	width 260px
	a
		display block
		width 150px
		height 26px
		margin 45px auto 50px auto
		background url("../img/logo.png") no-repeat
.left-user
	position relative
	width 150px
	margin 0 auto
	padding-bottom 20px
	a.settings
		z-index 5
		position absolute 
		left 0px 
		top 0px
		width 18px
		height 18px
		background url("../img/icons/settings.png") no-repeat
		&:hover
			transform rotate(90deg) scale(1.2)
	.notify
		z-index 5
		position absolute 
		right -5px 
		top -5px
		width 18px
		height 18px
		anim()
		&:hover
			top -6px
		a
			font-size 20px
			color color-red
			&:hover
				font-size 22px
	.prev
		position relative
		width 149px
		height 166px
		padding-bottom 15px
		.rating
			position absolute 
			left 0px 
			top 0px
		.pic
			position absolute 
			left 6px 
			top 6px
	.score
		color color-grey-dark
		font-size 12px
		text-align center
		color #474747
		.big
			display inline-block
			margin-right 3px
			font-size 16px
			font-weight bold
			color color-grey-dark

//	#left-menu
.left-menu
	ul
		lino()
	a
		position relative
		padding-left 35px
		color color-grey-dark
		font-size 15px
		text-transform uppercase
		&:hover
			color color-white
			&:before
				opacity 1
		&:before
			content " "
			position absolute 
			left 0px
			top -2px
			width 24px
			height 24px
			background red
			opacity .3
			anim()
	li
		padding 20px 0 20px 60px
	li.is-active
		position relative
		border-left 3px solid color-red
		a
			color color-white
			&:before
				opacity 1
	li.menu-tourns a:before
		background url("../img/icons/menu-tourns.png") center center no-repeat
	li.menu-train a:before
		background url("../img/icons/menu-train.png") center center no-repeat
	li.menu-rating a:before
		background url("../img/icons/menu-rating.png") center center no-repeat
	li.menu-booty a:before
		background url("../img/icons/menu-booty.png") center center no-repeat
	li.menu-faq a:before
		background url("../img/icons/menu-faq.png") center center no-repeat

//	#pager
.pager
	text-align center
	padding-bottom 20px
	ul
		display inline-block
		lino()
	li.prev
		padding-right 15px
		a
			width 17px !important
			height 14px !important
			background url("../img/icons/arrow-right.png") no-repeat
			transform rotate(-180deg)
			&:hover
				opacity .7
	li.next
		padding-left 15px
		a
			width 17px !important
			height 14px !important
			background url("../img/icons/arrow-right.png") no-repeat
			&:hover
				opacity .7
	li.is-disable
		a
			cursor default
			opacity .4 !important
	li
		display table-cell
		width 35px
		vertical-align middle
		text-align center
		&:hover
			a
				width 30px
				height 30px
				span
					font-size 16px
		&.is-active
			a
				width 30px
				height 30px
			span
				font-size 16px
	a
		display block
		width 8px
		height 8px
		margin 0 auto
		background #c2c2c2
		border-radius 15px
	span
		display inline-block
		padding-top 3px
		font-size 0
		color color-white

// #ratingbox-select
.ratingbox
	padding-top 10px
	position relative
	clearfix()
.ratingbox__select
	float left
	clearfix()
	div
		position relative
		display inline-block
		width 40px
		height 20px
		&:after
			display block
			content " "
			position absolute 
			left 0px 
			top 11px
			width 8px
			height 8px
			background #c2c2c2
			border-radius 15px
		&.star-on-png
			&:after
				background color-red
.ratingbox__count
	float right
	font-size 20px
	font-regular()
		
//	#search
.search
	position relative
	float left
	anim()
.search-btn
	position absolute 
	left 0px 
	top 0px
	z-index 5
	position relative
	vertical-align middle
	width 75px
	height 75px
	background-color color-grey-opacity
	anim()
	&:after
		content " "
		position absolute 
		left -20px 
		top 0px
		background #fff
		width 20px
		height 75px
	&:hover
		background-color #e7e7e7
	a
		display block
		position absolute
		z-index 10
		left 0px 
		top 0px
		width 75px
		height 75px
		anim-none()
	a.open
		background url("../img/icons/search.png") center center no-repeat
	a.close
		transition rotate 0.3s ease-out
		background url("../img/icons/close.png") center center no-repeat
		&:hover
			transform rotate(180deg)
		&.hide
			display none
.search-form
	z-index 4
	position absolute
	overflow hidden
	left -510px 
	top 0px
	width 510px
	height 75px
	background color-grey-opacity
	anim()
	&.show
		left 0
	.input
		position absolute 
		left 75px 
		top 0px
		width 360px
		height 75px
		color #949494
		font-light()
		font-size 18px
		background none !important
		border none
	.submit
		z-index 10
		position absolute 
		right 0px 
		top 0px
		float right
		width 75px
		height 75px
		background url("../img/icons/search-a.png") center center no-repeat !important
		cursor pointer
		border-radius 0 4px 4px 0
		&:hover
			background-color #e7e7e7 !important
		
//	#sort-menu
.sort-menu
	float right
	padding-top 30px
	ul
		lino()
		clearfix()
	li
		float left
		text-align center
		&.sort-desc
			span
				background url("../img/icons/arrow-up-grey.png") right center no-repeat
			&:hover
				span
					background url("../img/icons/arrow-up-blue.png") right center no-repeat
		&.is-active 
			a
				color color-blue
			span
				background url("../img/icons/arrow-down-blue.png") right center no-repeat
			&.sort-desc
				span
					background url("../img/icons/arrow-up-blue.png") right center no-repeat
			
	a
		display block
		color #B2B2B2
		text-transform uppercase
		&:hover
			color color-blue
			span
				background url("../img/icons/arrow-down-blue.png") right center no-repeat
	span
		display inline-block
		padding-right 15px
		background url("../img/icons/arrow-down-grey.png") right center no-repeat
	.date
		width 130px
		@media fullhd
			width 170px
	.members
		width 120px
		@media fullhd
			width 170px
	.price
		width 170px

//	#taskadd-line
.taskadd-line
	padding-bottom 30px
	&.has-padding
		padding-bottom 60px
	&.has-no-padding
		padding-bottom 0
.taskadd-line__name
	padding-bottom 13px
	font-size 16px
	font-regular()
.taskadd-line__content
	position relative
	input, select
		margin-bottom 0
					
//	#tableview
.tableview
	padding-bottom 40px
	&.is-blue
		.name
			a:hover
				color color-blue
.tableview-item
	dt()
	margin-bottom 2px
	background color-white
	border-radius 3px
	background alpha(color-white, .6)
	anim()
	&:hover
		background color-white
.tableview-item__num,
.tableview-item__pic,
.tableview-item__name,
.tableview-item__date,
.tableview-item__members,
.tableview-item__price
	display table-cell
	padding 20px 10px
	vertical-align middle
.tableview-item__num
	width 10px
	padding-left 20px
	color color-grey
	text-align center
	vertical-align top
.tableview-item__pic
	width 70px
	vertical-align top
	img
		border 10px solid #ededed
		border-radius 32px
.tableview-item__name 
	.cat
		color color-grey
		font-size 10px
		text-transform uppercase
	.name
		a
			display table
			color color-grey-dark
			text-transform uppercase
			line-height 20px
			&:hover
				color color-red
.tableview-item__date
	width 130px
	text-align left
	@media fullhd
		width 175px
.tableview-item__members
	width 120px
	text-align left
	@media fullhd
		width 140px
.tableview-item__price
	width 170px
	text-align right
	padding-right 20px
	font-size 20px
	color color-red
	white-space nowrap
	span.hight
		font-size 30px

//	#textarea-desc
.textarea-desc
	position relative
	padding-bottom 10px
	textarea
		margin 0
		border-radius 4px
		padding-bottom 70px
.textarea-desc__more
	position relative
	box-sizing content-box
	width auto
	margin 1px 1px
	margin-top -46px
	height 20px
	padding 15px 20px 10px 20px
	background color-grey-opacity
	border 0
	border-radius 4px
	overflow hidden
	clearfix()
	.attach
		float left
		a
			display inline-block
			padding-left 25px
			color color-grey
			background url("../img/icons/attach.png") 0 center no-repeat
			&:after
				content " "
				background url("../img/icons/attach-a.png") 0 center no-repeat
			&:hover
				color color-red
				background url("../img/icons/attach-a.png") 0 center no-repeat
	.edittools
		float right
		display none

//	#userprev
.userprev
	padding-bottom 40px
.userprev__name
	padding-top 30px
	padding-bottom 10px
	font-size 16px
	text-transform uppercase
	font-weight 500
	
//	#upperbar
.upperbar
	width 100%
	font-size 13px
	clearfix()
	&.is-big
		height 80px
		box-sizing content-box
		margin -20px 0px 20px -20px
		padding 20px
		border-radius 0
		.fl-right
			padding-top 10px
	&.is-fixed
		@media small
			z-index 3
			position fixed
			width 100%
			left 0
			top 0px
			.upperbar-in
				@media small
					overflow hidden
					margin-left 260px
					margin-right 0px
					padding 0 20px
					border-radius 0
					box-shadow 0 0 8px rgba(0, 0, 0, 0.21)
	.upperbar-in
		overflow hidden
		height 75px
		margin-bottom 20px
		background color-white
		border-radius 3px
	.fl-right
		display table-cell 
		padding 10px 20px 0 0
	.has-arrow
		position relative
		&:after
			z-index 4
			bottom -45px
			left 50%
			border solid transparent
			content " "
			height 0
			width 0
			position absolute
			pointer-events none
			border-bottom-color #eeeeee
			border-width 26px
			margin-left -26px
.upperbar__info
	float left
	display table
	.num
		dtc()
		width 65px
		font-size 16px
		padding-right 25px
		text-align right
		height 75px
		vertical-align middle
	.pic
		dtc()
		height 75px
		vertical-align middle
		img 
			display block
			anim()
			&:hover
				opacity .7
	.name
		dtc()
		height 75px
		padding-left 30px
		vertical-align middle
		font-16-ttu()
		a
			color color-grey-dark
			&:hover
				color color-red

//	#upper-contacts
.upper-contacts
	clearfix()
	font-size 16px
	.phone
		float left
		color color-grey-dark
		font-regular()
	.sepline
		float left
		width 2px
		height 22px
		background #e6e6e6
		margin 0 15px
	.text 
		float left
		

//	#plugins
// ===============================================

//	#scroller
.scroller-box
	overflow hidden 
	position relative
	height 300px
	padding-bottom 5px
.mCustomScrollBox
	position relative
	overflow hidden
	height 100%
	max-width 100%
	&:hover
		.mCSB_scrollTools
			opacity 1
	.mCSB_container
		overflow hidden
		width auto
		height auto
		margin-right 30px
	.mCSB_scrollTools
		position absolute
		width 17px
		height auto
		left auto
		top 5px
		right 5px
		bottom 0px
		.mCSB_draggerContainer
			position absolute
			top 0px
			left 0px
			bottom 0px
			right 0px
			height auto
			.mCSB_dragger 
				z-index 1
				width 100%
				height 30px
				cursor pointer
				.mCSB_dragger_bar					
					position relative
					width 17px
					height 100%
					margin 0px auto
					text-align center
					background-color #ebeff5
			.mCSB_draggerRail
				width 5px
				height 100%
				margin 0px auto

//	#ripplelink
.ripplelink
	position relative
	overflow hidden
	anim()
	z-index 0
	&:hover
		z-index 2
.ripplelink-ink
	display block
	position absolute
	background rgba(255, 255, 255, 0.3)
	border-radius 100%
	transform scale(0)
.ripplelink-animate
	animation ripple 0.9s linear
@keyframes ripple
	100%
		opacity 0
		transform scale(2.5)