head
	title Реформа 2015

	// meta
	meta(charset="utf-8")
	link(rel="icon" type="image/png" href="favicon.png")

	// styles
	link(href="css/normalize.css", rel="stylesheet")
	link(href="css/style.css", rel="stylesheet")
	block styles

	// scripts
	script(src="js/jquery.min.js", type="text/javascript")
	script(src="js/jquery.mCustomScrollbar.concat.min.js", type="text/javascript")
	
	
	// libs
	script(src="libs/jquery.lightSlider.min.js", type="text/javascript")
	link(href="libs/lightSlider.css", rel="stylesheet")
	
	block scripts
	script(src="js/functions.js", type="text/javascript")