//- #mixin
include _mixin
block vars

doctype html
//	proscom.ru
//	Simple Communication
//	Front-end by ilko.me
html
	include _head

	body.page-body(
		class=typeof 
		iswhite === "undefined" ? undefined : "page-white"
	)
		.ilkome
			include _left-col
			
			.l-right
				block content

			.footer
				.footer-copy 2014 © Все права защищены
				.footer-menu
					ul
						li: a(href="#") О проекте
						li: a(href="#") Партнеры
						li: a(href="#") Политика конфедициальности