//- #mixin
include _mixin
block vars

doctype html
//	proscom.ru
//	Simple Communication
html
	include _head
	#menu
		a(href="about.html") about+
		a(href="booty.html") booty+
		a(href="faq.html") faq 
		a(href="offer.html") offer+
		a(href="partners.html") partners+
		a(href="profile-seeker.html") profile-seeker 
		a(href="profile-solver.html") profile-solver 
		a(href="rating.html") rating
		a(href="solution.html") solution+
		a(href="statistics.html") statistics
		a(href="task-add.html") task-add+-
		a(href="task-item.html") task-item 
		a(href="tasks.html") tasks+
		a(href="training.html") training 
	
	body.page-body(
		class=typeof 
		iswhite === "undefined" ? undefined : "page-white"
	)
		//-include _popups

		.ilkome
			include _left-col
			
			.l-right
				block content

			.footer
				.footer-copy 2014 © Все права защищены
				.footer-menu
					ul
						li: a(href="#") О проекте
						li: a(href="#") Партнеры
						li: a(href="#") Политика конфедициальности