.l-left
	.left-logo: a(href="/")
	
	.left-user
		a(href="#").settings
		.notify: a(href="#") 16
		.prev
			.rating: img(src="img/content/user-rating.png", alt="")
			.pic: img(src="img/ava-mishin.png", alt="")
		.score 
			.big 1 120 
			| / 5 000
	
	.left-menu
		ul
			li.menu-tourns: a(href="#") Турниры
			li.menu-train: a(href="#") Тренировка 
			li.menu-rating: a(href="#") Рейтинг
			li.menu-booty: a(href="#") Трофеи
			li.menu-faq: a(href="#") Вопросы
			li.menu-rating.is-active: a(href="#") Активный