mixin upper-search
	.search.js-search
		.search-btn
			a(href="#").open.js-search-form-action
			a(href="#").close.hide.js-search-form-action
		.search-form
			form(action="")
				input(type="text", placeholder="Поиск").input
				input(type="submit", value="").submit

mixin pager
	.pager
		ul
			li.prev.is-disable: a(href="#")
			li.is-active: a(href="#"): span 1
			li: a(href="#"): span 2
			li: a(href="#"): span 3
			li: a(href="#"): span 4
			li: a(href="#"): span 5
			li: a(href="#"): span 6
			li: a(href="#"): span 7
			li: a(href="#"): span 8
			li: a(href="#"): span 9
			li: a(href="#"): span 10
			li.next: a(href="#")

mixin pager-small
	.pager.pager-small
		ul
			li.prev.is-disable: a(href="#")
			li.is-active: a(href="#") 
			li: a(href="#") 
			li: a(href="#") 
			li.next: a(href="#")