
//- #mixin
mixin upper-search
	.search.js-search
		.search-btn
			a(href="#").open.js-search-form-action
			a(href="#").close.js-search-form-action
		.search-form
			form(action="")
				input(type="text", placeholder="Поиск").input
				input(type="submit", value="").submit

mixin pager
	.pager
		ul
			li.prev.is-disable
				a(href="#")
			li.is-active
				a(href="#")
					span 1
			li
				a(href="#")
					span 2
			li
				a(href="#")
					span 3
			li
				a(href="#")
					span 4
			li
				a(href="#")
					span 5
			li
				a(href="#")
					span 6
			li
				a(href="#")
					span 7
			li
				a(href="#")
					span 8
			li
				a(href="#")
					span 9
			li
				a(href="#") 
					span 10
			li.next
				a(href="#")

mixin pager-small
	ul.pager
		li.prev.is-disable: a(href="#")
		li.is-active: a(href="#") 
		li: a(href="#") 
		li: a(href="#") 
		li: a(href="#") 
		li: a(href="#") 
		li: a(href="#") 
		li.next: a(href="#")

mixin comments
	.comments-name
		h3.inline Обсуждение 
		.inline.comments-count 236
	
	.comments-write
		.pic: img(src="img/user-ava.png", alt="")
		.content
			form(action="#")
				a(href="#").join-comments.js-open-comment-write
				textarea(placeholder="Ваш комментарий") Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористиче. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,скрытой в середине абзаца. Также все другие известные генераторы.
				.meta
					a(href="#").attach-file Прикрепить файл
					input(type="submit", value="Отправить")
		.files
			.file
				.file__ext.red pdf
				.file__name: a(href="#") Требования к решению PDF
				.file__download: a(href="#")
			.file
				.file__prev 
					a(href="#")
						img(src="img/content/file-prev.png", alt="")
				.file__name: a(href="#") Print_screen.jpg
				.file__download: a(href="#") 
	
	.comments-list
		mixin comment
			.comment__prev
				a(href="#") 
					img(src="img/content/user-1.jpg", alt="")
			.comment__content
				.meta
					.name: a(href="#") Андрей Денисов
					.date 23 мин. назад
				.content «Московские предприятия снизили выбросы до 40%. На сегодняшний день мы не связываем загрязнение воздуха с их выбросами. Причина - это воздействие автотранспорта и сжигание порубочных остатков», - сказал он
				a(href="#").answer Ответить
		.comment
			+comment
			.comment
				+comment
				.comment
					+comment
		.comment
			+comment
		
		+pager