extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name Создание обращения
			.row
				.col65.pad-right-30
					mixin formline (name, placeholder)
						.formline
							.formline__name= name
							.formline__content
								input(type="text", placeholder="#{placeholder}", value="").inp_full
							.formline__desc Например: #{placeholder}
					+formline("Ваше имя", "Алексеей")
					+formline("Фамилия", "Федоров", "Федоров")
					+formline("Отчество", "Ианович")
					+formline("Адрес проживания", "Проспект моря 15-30")
					+formline("Номер мобильного телефона", "960 865 22 22")
					+formline("Электронная почта (не обязательно)", "ya@ya.ru")
					.formline
						.formline__name Выберите тему обращения
						.formline__content
							select.select_full
								option(value="0") Тип документа
								option(value="1") Обычный
								option(value="2") Класический
								option(value="3") Разнообразный
					.formline
						.formline__name Текст сообщения
						.formline__content
							textarea.textarea_full
					.formline.row
						.col50.font-grey-small.va-center
							| Направляя обращение, Вы соглашаетесь с&nbsp;
							a(href="#") условиями
							|  предоставления услуг

						.col50.align-right
							a(href="#").btn.btn_blue Направить обращаение
							

				.col35
					.box-padding.has-bg-grey
						p.font-grey-small Структурным подразделениям Департамента здравоохранения города Москвы регулярно проводится анализ поступающих обращений, который учитывается на совершенстование качества ораганизации и оказания медицинской и лекарственной помощи жителям Москвы, а также при устранении причин обоснованных нареканий граждан.
						p.font-grey-small.margin-none Структурным подразделениям Департамента здравоохранения города Москвы регулярно проводится анализ поступающих обращений, который учитывается на совершенстование качества ораганизации и оказания медицинской и лекарственной помощи жителям Москвы, а также при устранении причин обоснованных нареканий граждан.