extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name Проверка статуса обращения
			.row
				.col65.pad-right-30
					.formline
						.formline__name Номер обращения
						.formline__content
							input(type="text", placeholder="Номер обращения", value="4545-65-89-000").inp_full
						.formline__desc Например: 0011-4541-5500
					.formline
						.formline__name Номер мобильного телефона
						.formline__content
							input(type="text", placeholder="Номер мобильного телефона", value="").inp_full
						.formline__desc Например: 960 155 22 99
					.formline.align-right
						a(href="#").btn.btn_blue_wide Проверить
				.col35
					.box-padding.has-bg-grey.font-grey-small Структурным подразделениям Департамента здравоохранения города Москвы регулярно проводится анализ поступающих обращений, который учитывается на совершенстование качества ораганизации и оказания медицинской и лекарственной помощи жителям Москвы, а также при устранении причин обоснованных нареканий граждан.