extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			.depart
				.depart-boss
					.depart-boss__pic: img(src="img/c/leader.png", alt="", width="140")
					.depart-boss__content
						h3 Алексей Иванович Хрипун
						p Министр правительства Москвы, Руководитель Департамента здравоохранения города Москвы
				
				.depart-line.center
					.depart-header-blue
						h3 Татьяна Радиковна Мухтасарова
						p Первый заместитель руководителя
					.depart-header-blue
						h3 Николай Николаевич Потекаев
						p Первый заместитель руководителя

				.depart-box-grey
					.center
						.depart-header-blue.inside-box
							h3 Алексей Владимирович Погонин
							p Заместитель руководителя
					.depart-box-white
						.depart-sub-header
							.info Управление организации медицинской помощи детям и матерям
							.name-big А.В. Жолинский
							.prof Заместитель начальника
							.name-small А.А. Григоров
						.depart-line.center
							.depart-worker
								.info Отдел первичной <br>медико-санитарной помощи
								.name Е.А. Значкова
							.depart-worker
								.info Отдел стационарной <br>и специализированной помощи
								.name Н.М. Зарубин
								.prof Заместитель начальника отдела
					.depart-box-white
						.depart-sub-header
							.info Управление организации медицинской помощи детям и матерям
							.name-big А.В. Жолинский
							.prof Заместитель начальника
							.name-small А.А. Григоров
						.depart-line.center
							.depart-worker
								.info Отдел медицинской помощи матерям
								.name Е.А. Значкова
							.depart-worker
								.info Отдел медицинской помощи детям

				.depart-box-grey
					.center
						.depart-header-blue.inside-box
							h3 Андрей Викторович Старшинин
							p Заместитель руководителя
					.depart-box-white
						.depart-sub-header
							.info Управление организации медицинской помощи детям и матерям
							.name-big А.В. Жолинский
						.depart-line.center
							.depart-worker
								.info Отдел первичной <br>медико-санитарной помощи
								.name Е.А. Значкова
							.depart-worker
								.info Отдел стационарной <br>и специализированной помощи
								.name Н.М. Зарубин
								.prof Заместитель начальника отдела
						.depart-line.center
							.depart-worker
								.info Отдел первичной <br>медико-санитарной помощи
								.name Е.А. Значкова
								.prof Зам начальника управления, начальник отдела
							.depart-worker
								.info Отдел стационарной <br>и специализированной помощи
								.name Н.М. Зарубин
								.prof Заместитель начальника отдела
						.depart-line.center
							.depart-worker
								.info Отдел лицензирования деятельности связанной с оборотом наркотических средств и психотропных веществ
								.name Е.А. Значкова
								.prof Зам начальника управления, начальник отдела
							.depart-worker
								.info Сектор организационного ведомственного контроля и безопасности медицинскй деятельности
					.depart-box-white
						.depart-sub-header
							.info Управление организации медицинской помощи детям и матерям
							.prof Заместитель начальника

				.depart-box-trans
					.depart-box-white
						.depart-sub-header
							.info Управление организации медицинской помощи детям и матерям
							.name-big А.В. Жолинский
							.prof Заместитель начальника
							.name-small А.А. Григоров
						.depart-line.center
							.depart-worker
								.info Отдел первичной <br>медико-санитарной помощи
								.name Е.А. Значкова
							.depart-worker
								.info Отдел стационарной <br>и специализированной помощи
								.name Н.М. Зарубин
								.prof Заместитель начальника отдела
						.depart-line.center
							.depart-worker
								.info Отдел первичной <br>медико-санитарной помощи
								.name Е.А. Значкова
								.prof Зам начальника управления, начальник отдела
							.depart-worker
								.info Отдел стационарной <br>и специализированной помощи
								.name Н.М. Зарубин
								.prof Заместитель начальника отдела
						.depart-line.center
							.depart-worker
								.info Отдел лицензирования деятельности связанной с оборотом наркотических средств и психотропных веществ
								.name Е.А. Значкова
								.prof Зам начальника управления, начальник отдела
							.depart-worker
								.info Сектор организационного ведомственного контроля и безопасности медицинскй деятельности
					.depart-box-white
						.depart-sub-header
							.info Управление организации медицинской помощи детям и матерям
							.prof Заместитель начальника

				.depart-box-grey.has-padding-bottom
					.center
						.depart-header-blue.inside-box
							h3 Андрей Викторович Старшинин
							p Заместитель руководителя
						.depart-worker
							.info Отдел МТО
							.name А.А. Крупейченко

				.depart-box
					.center
						.depart-line
							.depart-worker
								.info Отдел МТО
								.name А.А. Крупейченко
						.depart-line
							.depart-worker
								.info Отдел МТО
								.name А.А. Крупейченко
						.depart-line
							.depart-worker
								.info Отдел МТО
								.name А.А. Крупейченко