extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			.row
				.col50.padr10
					.block
						.block__name: h3 Подразделения
						.block__content
							ul.list-style-grey
								li Управление делами и координации деятельности Департамента здравоохранения города Москвы
								li Отдел руководителя
								li Управление по работе с административными округами
								li Управление строительства и капитального ремонта
								li Отдел материально-технического обеспечения
								li Управление организации медицинской помощи
								li Управление организации медицинской помощи детям и матерям
							a(href="#") Все подразделения
					.block
						.block__name: h3 Главные внештатные специалисты
						.block__content
							mixin item-date-link
								.item-date-link
									.normal ТЮРИН Владимир Петрович
									.small-grey Главный внештатный специалист терапевт, специалист общей врачебной практики (семейный врач)				
							+item-date-link
							+item-date-link
							+item-date-link
							+item-date-link
						a(href="#") Все специалисты
					.block
						.block__name: h3 Дирекции округов 
						.block__content
							ul.list-style-grey
								li Центральный административный округ
								li Северный административный округ
								li Северо-Восточный административный округ
								li Восточный административный округ
								li Юго-Восточный административный округ
								li Южный административный округ
								li Юго-Западный административный округ
								li Западный административный округ
								li Северо-Западный административный округ
								li Зеленоградский административный округ
								li Троицкий и Новомосковский административные округа
							a(href="#") Все дирекции
				.col50.padl10
					.depart-boss.depart-boss_small
						.depart-boss__pic: img(src="img/c/leader.png", alt="", width="140")
						.depart-boss__content
							h3 Алексей Иванович Хрипун
							p Руководитель Департамента здравоохранения города Москвы
					.big-blue-link.sience
						a(href="#") Наука
					.big-blue-link.educ
						a(href="#") Образование
					.big-blue-link.online
						a(href="#") Онлайн-трансляции
					.big-blue-link.contacts
						a(href="#") Контакты

			.row
				.col50.padr10
					.block
						.block__name: h3 Организации
						.block__content
							ul.list-style-grey
								li Государственное казенное учреждение здравоохранения
								li Государственное казённое учреждение здравоохранения
								li Государственное бюджетное учреждение здравоохранени
								li Государственное бюджетное учреждение здравоохранени
								li Государственное бюджетное учреждение здравоохранени
								li Государственное казенное учреждение города Москвы «
							a(href="#") Все организации
				.col50.padl10
					.block
						.block__name: h3 Лечебные учреждения
						.block__content
							mixin pharmacy-item
								.item-date-link
									.normal Аптека № 1 ГБУЗ "ЦЛО и КК ДЗ г.Москвы"
									.small-grey 107005, г. Москва, ул. Ладожская, д. 10; тел.: (495) 265-58-30, (495) 265-59-00
							+pharmacy-item
							+pharmacy-item
							+pharmacy-item
						a(href="#") Все лечебные учреждения
			.row
				.col50.padr10
					.block
						.block__name: h3 Аптеки
						.block__content
							mixin pharmacy-item
								.item-date-link
									.normal Аптека № 1 ГБУЗ "ЦЛО и КК ДЗ г.Москвы"
									.small-grey 107005, г. Москва, ул. Ладожская, д. 10; тел.: (495) 265-58-30, (495) 265-59-00
							+pharmacy-item
							+pharmacy-item
							+pharmacy-item
						a(href="#") Все Апетеки
				.col50.padl10
					.block
						.block__name: h3 Образовательные учреждения
						.block__content
							mixin pharmacy-item
								.item-date-link
									.normal Аптека № 1 ГБУЗ "ЦЛО и КК ДЗ г.Москвы"
									.small-grey 107005, г. Москва, ул. Ладожская, д. 10; тел.: (495) 265-58-30, (495) 265-59-00
							+pharmacy-item
							+pharmacy-item
							+pharmacy-item
						a(href="#") Все образовательные учереждения

				
			