extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name Документы
			+page-search("list")
			
			mixin item-date-link(file)
				.item-date-link
					.pic-left
						.file(class="file_#{file}")
					.content-right
						.link: a(href="#") Перечень лечебно-профилактических учреждений, определенных для медицинского освидетельствования подозреваемых или обвиняемых в совершении преступлений
						.date Приказ №350 от 19 апреля 2011 г..pdf
			
			+item-date-link("pdf")
			+item-date-link("doc")
			+item-date-link("pdf")
			+item-date-link("doc")
			+item-date-link("pdf")
			+item-date-link("doc")

			+pager