extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name XV Ежегодная специализированная конференция и выставка <br>"Информационные технологии в медицине 2014"

			.content-box.js-hidden-text-box
				.eventinfo.fl-left
					.eventinfo__date
						strong Дата проведения: 
						| 09 Ноября — 10 Ноября 2014
					.eventinfo__content
						ul
							li
								strong Город: 
								| Москва	
							li
								strong Место проведения: <br>
								| Конгресс-центр гостиницы «Космос», проспект.&nbsp;Мира, д. 150
							li
								.displayblock
									strong Телефон:
									| (495) 978-25-11
								.displayblock
									strong Факс:
									| (499) 180-16-86
								.displayblock
									strong E-mail: 
									a(href="#") med@consef.ru
								.displayblock
									strong Сайт: 
									a(href="#") itm.consef.ru
						.center
							a(href="#").btn.btn_blue_wide Учавствовать

				p Заместитель Мэра Москвы в Правительстве Москвы, руководитель аппарата Мэра и Правительства Москвы Анастасия Ракова доложила о результатах работы портала «Наш город» за девять месяцев 2014 года на совещании по оперативным вопросам в Правительстве Москвы, которое сегодня провел Мэр Москвы Сергей Собянин.
				p Анастасия Ракова сообщила, что по сравнению с аналогичным периодом 2013 года число обращений москвичей на портал выросло в 2,5 раза. Также, благодаря имеющимся обращениям было выявлено более 160 тысяч проблем в различных отраслях городского хозяйства, из которых около 90 процентов решено, а остальные находятся на контроле.
				p На совещании Сергей Собянин уделил особое внимание выявленным фактам незаконного размещения наружной рекламы и нестационарных торговых объектов, поручив оперативно реагировать на такого рода обращения.
				p «Незаконная реклама и ларьки, о которых нам сообщают жители, должны в кратчайшие сроки убираться с территории города», — подчеркнул Сергей Собянин.
				p Вместе с тем, Алексей Хрипун, Министр Правительства Москвы, руководитель столичного Департамента здравоохранения доложил о завершении проведения вакцинации от сезонных инфекционных заболеваний.
				ul
					li Формирование государственных информационных ресурсов в области охраны здоровья населения. Дальнейшее развитие ЕГИСЗ.
					li Тенденции развития и технологические новинки. Лучшие отечественные и зарубежные практики и технологии. Современный  	программно-аппаратный инструментарий. Региональные и распределенные ресурсы в здравоохранении.
					li Нормативное, правовое и технологическое обеспечение информационного взаимодействия в сфере здравоохранения.
					li Комплексная автоматизация ЛПУ. Специализированные медицинские информационные системы. Аппаратное обеспечение. Системы хранения и передачи данных. Информационная безопасность.

				.hide.js-hidden-text
					p «Показатели заболеваемости гриппом и ОРВИ в Москве находятся ниже пороговых эпидемических значений», - подчеркнул Министр Правительства Москвы, руководитель Департамента здравоохранения города Москвы.

					p По его словам в Москве, по состоянию на 20 ноября, вакцинировано против гриппа 2,83 миллиона человек, в том числе 1,95 миллиона взрослых, 880 тысяч детей (23,6 процента населения).
				a(href="#").show-more.js-hidden-text-show Показать полностью

			+comments