block vars
	- var iswhite = true

extends _layout

block append content
	.upperbar.js-upperbar
		.upperbar-in
			+upper-search
			.filter-menu
				ul
					li.is-active: a(href="#") Избранное
					li: a(href="#") Все
					li: a(href="#") Архив
			.fl-right
				a(href="#").btn-green.ripplelink.js-fadein-link Задать свой вопрос

	.faq-ask
		.faq-ask-in.js-fadein-box
			.contentbox-wrap
				.row
					.col.col-30
						select(data-placeholder="Выберите категорию").full.select-grey
							option(value="") Вариант номер один
							option(value="") Второй вариант 
							option(value="") Еще есть третий вариант
					.col.col-70
						input(type="text", placeholder="Загаловок вопроса").full
				.faq-ask__text
					textarea(placeholder="Содержимое вопроса").textarea-big
				.action
					a(href="#").btn-grey.ripplelink.js-fadein-link  Отмена
					a(href="#").btn-blue.ripplelink.js-fadein-link  Задать вопрос

	.contentbox-wrap
		.faq
			.faq-item.js-hidden-box
				.faq-item-quest
					.faq-item__num 1
					.faq-item__name
						.cat Использование сервисов Сайта
						.name: a(href="#").js-hidden-link Я зарегистрировался(ась) на Сайте. Оплатил(а) коммерческий аккаунт. Но у меня так и выходит "Ваш базовый аккаунт не позволяет видеть проекты в онлайн режиме. как быть дальше?
					.faq-item__action
						a(href="#").js-hidden-link.plus +
				.faq-item__content.js-hidden-content
					| В каталоге фрилансеров представлены только фрилансеры (пользователи, у которых в учётных данных указан пункт «Я - Фрилансер»). В учетных данных фрилансера указан статус занятости любой другой, кроме статуса Занят. <br>
					| Обязательным условием размещения фрилансера в каталоге фрилансеров является наличие работ в портфолио. Обратите, пожалуйста, внимание, что работы обязательно должны быть загружены в отмеченных Вами специализациях портфолио; работы же, загруженные в раздел портфолио Мои лучшие работы, не дают права на отображение Вашего профиля в каталоге фрилансеров.

			.faq-item.js-hidden-box
				.faq-item-quest
					.faq-item__num 2
					.faq-item__name
						.cat Использование сервисов Сайта
						.name: a(href="#").js-hidden-link Я зарегистрировался(ась) на Сайте. Оплатил(а) коммерческий аккаунт. Но у меня так и выходит "Ваш базовый аккаунт не позволяет видеть проекты в онлайн режиме. как быть дальше?
					.faq-item__action
						a(href="#").js-hidden-link.plus +
				.faq-item__content.js-hidden-content
					| В каталоге фрилансеров представлены только фрилансеры (пользователи, у которых в учётных данных указан пункт «Я - Фрилансер»). В учетных данных фрилансера указан статус занятости любой другой, кроме статуса Занят. <br>
					| Обязательным условием размещения фрилансера в каталоге фрилансеров является наличие работ в портфолио. Обратите, пожалуйста, внимание, что работы обязательно должны быть загружены в отмеченных Вами специализациях портфолио; работы же, загруженные в раздел портфолио Мои лучшие работы, не дают права на отображение Вашего профиля в каталоге фрилансеров.
			.faq-item.js-hidden-box
				.faq-item-quest
					.faq-item__num 1
					.faq-item__name
						.cat Использование сервисов Сайта
						.name: a(href="#").js-hidden-link Я зарегистрировался(ась) на Сайте. Оплатил(а) коммерческий аккаунт. Но у меня так и выходит "Ваш базовый аккаунт не позволяет видеть проекты в онлайн режиме. как быть дальше?
					.faq-item__action
						a(href="#").js-hidden-link.plus +
				.faq-item__content.js-hidden-content
					| В каталоге фрилансеров представлены только фрилансеры (пользователи, у которых в учётных данных указан пункт «Я - Фрилансер»). В учетных данных фрилансера указан статус занятости любой другой, кроме статуса Занят. <br>
					| Обязательным условием размещения фрилансера в каталоге фрилансеров является наличие работ в портфолио. Обратите, пожалуйста, внимание, что работы обязательно должны быть загружены в отмеченных Вами специализациях портфолио; работы же, загруженные в раздел портфолио Мои лучшие работы, не дают права на отображение Вашего профиля в каталоге фрилансеров.

			.faq-item.js-hidden-box
				.faq-item-quest
					.faq-item__num 2
					.faq-item__name
						.cat Использование сервисов Сайта
						.name: a(href="#").js-hidden-link Я зарегистрировался(ась) на Сайте. Оплатил(а) коммерческий аккаунт. Но у меня так и выходит "Ваш базовый аккаунт не позволяет видеть проекты в онлайн режиме. как быть дальше?
					.faq-item__action
						a(href="#").js-hidden-link.plus +
				.faq-item__content.js-hidden-content
					| В каталоге фрилансеров представлены только фрилансеры (пользователи, у которых в учётных данных указан пункт «Я - Фрилансер»). В учетных данных фрилансера указан статус занятости любой другой, кроме статуса Занят. <br>
					| Обязательным условием размещения фрилансера в каталоге фрилансеров является наличие работ в портфолио. Обратите, пожалуйста, внимание, что работы обязательно должны быть загружены в отмеченных Вами специализациях портфолио; работы же, загруженные в раздел портфолио Мои лучшие работы, не дают права на отображение Вашего профиля в каталоге фрилансеров.
