extends _layout

block append content
	.upperbar
		+upper-search
		.filter-menu
			ul
				li.is-active: a(href="#") Избранное
				li: a(href="#") Все
				li: a(href="#") Архив
		.fl-right
			a(href="#").btn-green Задать свой вопрос

	.content-wrap
		.faq-ask
			.faq-ask__line
				.col-30
					select(data-placeholder="Выберите категорию")
						option(value="") Вариант номер один
						option(value="") Второй вариант 
						option(value="") Еще есть третий вариант
				.col-70
					input(type="text", placeholder="Загаловок вопроса") 
			.faq-ask__text
				textarea(placeholder="Содержимое вопроса").textarea-big
			.action
				a(href="#").btn-grey Отмена
				a(href="#").btn-blue Задать вопрос

		.faq
			.faq-item.js-hidden-box
				a(href="#").js-hidden-link
					.faq-item__num 1
					.faq-item__name
						.cat Использование сервисов Сайта
						.name: a(href="#") Я зарегистрировался(ась) на Сайте. Оплатил(а) коммерческий аккаунт. Но у меня так и выходит "Ваш базовый аккаунт не позволяет видеть проекты в онлайн режиме. как быть дальше?
					.faq-item__action
						a(href="#").plus
						a(href="#").close
				.faq-item__content.js-hidden-content
					| В каталоге фрилансеров представлены только фрилансеры (пользователи, у которых в учётных данных указан пункт «Я - Фрилансер»). В учетных данных фрилансера указан статус занятости любой другой, кроме статуса Занят. <br>
					| Обязательным условием размещения фрилансера в каталоге фрилансеров является наличие работ в портфолио. Обратите, пожалуйста, внимание, что работы обязательно должны быть загружены в отмеченных Вами специализациях портфолио; работы же, загруженные в раздел портфолио Мои лучшие работы, не дают права на отображение Вашего профиля в каталоге фрилансеров.

			.faq-item.is-active
				a(href="#").js-hidden-link
					.faq-item__num 2
					.faq-item__name
						.cat Использование сервисов Сайта
						.name: a(href="#") Я зарегистрировался(ась) на Сайте. Оплатил(а) коммерческий аккаунт. Но у меня так и выходит "Ваш базовый аккаунт не позволяет видеть проекты в онлайн режиме. как быть дальше?
					.faq-item__action
						a(href="#").plus
						a(href="#").close
				.faq-item__content.js-hidden-content
					| В каталоге фрилансеров представлены только фрилансеры (пользователи, у которых в учётных данных указан пункт «Я - Фрилансер»). В учетных данных фрилансера указан статус занятости любой другой, кроме статуса Занят. <br>
					| Обязательным условием размещения фрилансера в каталоге фрилансеров является наличие работ в портфолио. Обратите, пожалуйста, внимание, что работы обязательно должны быть загружены в отмеченных Вами специализациях портфолио; работы же, загруженные в раздел портфолио Мои лучшие работы, не дают права на отображение Вашего профиля в каталоге фрилансеров.
