extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name Вопросы

			mixin item(quest, answer)
				.faq.js-hidden-box
					.faq__quest
						a(href="#").js-hidden-link= quest
					.faq__answer.js-hidden-content= answer

			+item("Состав комиссии по соблюдению требований к служебному поведению государственных гражданских служащих Департамента здравоохранения и урегулированию конфликта интересов?", " В настоящее время более 2,5 миллиардов человек - более 40% населения мира - подвергаются риску заболевания геморрагическими лихорадками. По последним оценкам ВОЗ, ежегодно в мире может происходить 50-100 миллионов случаев инфицирования")
			+item("Состав комиссии по соблюдению требований к служебному поведению государственных гражданских служащих Департамента здравоохранения и урегулированию конфликта интересов?", " В настоящее время более 2,5 миллиардов человек - более 40% населения мира - подвергаются риску заболевания геморрагическими лихорадками. По последним оценкам ВОЗ, ежегодно в мире может происходить 50-100 миллионов случаев инфицирования")
			+item("Состав комиссии по соблюдению требований к служебному поведению государственных гражданских служащих Департамента здравоохранения и урегулированию конфликта интересов?", " В настоящее время более 2,5 миллиардов человек - более 40% населения мира - подвергаются риску заболевания геморрагическими лихорадками. По последним оценкам ВОЗ, ежегодно в мире может происходить 50-100 миллионов случаев инфицирования")
			+item("Состав комиссии по соблюдению требований к служебному поведению государственных гражданских служащих Департамента здравоохранения и урегулированию конфликта интересов?", " В настоящее время более 2,5 миллиардов человек - более 40% населения мира - подвергаются риску заболевания геморрагическими лихорадками. По последним оценкам ВОЗ, ежегодно в мире может происходить 50-100 миллионов случаев инфицирования")
			+item("Состав комиссии по соблюдению требований к служебному поведению государственных гражданских служащих Департамента здравоохранения и урегулированию конфликта интересов?", " В настоящее время более 2,5 миллиардов человек - более 40% населения мира - подвергаются риску заболевания геморрагическими лихорадками. По последним оценкам ВОЗ, ежегодно в мире может происходить 50-100 миллионов случаев инфицирования")

			+pager