extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name.has-bottom-line Лечебные учреждения
			.filter-items.center
				+filter-item-right
				+filter-item-left
			.page-search-letter
				.desc.fl-left Введите первые буквы названия улицы (проспекта, проезда):
				input(type="text").inp-search.fl-right
				.info * Уважаемые посетители сайта, поиск по адресам обслуживания функционирует в тестовом режиме
			
			.content-box.width-limit
				ul.list-style-grey
					li Амбулатории
					li Больницы гинекологические
					li Больницы городские
					li Больницы детские городсие
					li Больницы инфекционные
					li Больницы психиатрические и наркологические
					li Больницы специализированные
					li Больницы туберкулезные
					li Госпитали
					li Диспансеры врачебно-физкультурные
					li Диспансеры другие
					li Диспансеры онкологические
					li Диспансеры наркологические
					li Диспансеры психоневрологические
					li Диспансеры противотуберкулезные
					li Женские консультации
					li Медико-санитарные части
					li Научно-исследовательские и научно-практические учреждения
					li Поликлиники восстановительного лечения
					li Поликлиники городские
					li Поликлиники детские городские
					li Поликлиники стоматологические
					li Родильные дома
					li Санатории
					li Специализированные учреждения и службы
					li Станция скорой и неотложной медиинской помощи им. А.С. Пучкова
					li Хосписы
					li Центры восстановительного лечения для детей
					li Центры медицинские
					li Центры планирования семьи и репродукции