extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name Сергей Собянин поручил оперативно реагировать на обращения жителей <br>на портале «Наш город»
			.item-date-link
				.date
					| 20 ноября 
					.date__tag Городские новости

			.content-box.js-hidden-text-box
				p: img(src="img/c/news-item-1.jpg", alt="" style="padding:0 20px 15px 0").fl-left
				p Заместитель Мэра Москвы в Правительстве Москвы, руководитель аппарата Мэра и Правительства Москвы Анастасия Ракова доложила о результатах работы портала «Наш город» за девять месяцев 2014 года на совещании по оперативным вопросам в Правительстве Москвы, которое сегодня провел Мэр Москвы Сергей Собянин.
				p Анастасия Ракова сообщила, что по сравнению с аналогичным периодом 2013 года число обращений москвичей на портал выросло в 2,5 раза. Также, благодаря имеющимся обращениям было выявлено более 160 тысяч проблем в различных отраслях городского хозяйства, из которых около 90 процентов решено, а остальные находятся на контроле.
				p На совещании Сергей Собянин уделил особое внимание выявленным фактам незаконного размещения наружной рекламы и нестационарных торговых объектов, поручив оперативно реагировать на такого рода обращения.
				p «Незаконная реклама и ларьки, о которых нам сообщают жители, должны в кратчайшие сроки убираться с территории города», — подчеркнул Сергей Собянин.
				p Вместе с тем, Алексей Хрипун, Министр Правительства Москвы, руководитель столичного Департамента здравоохранения доложил о завершении проведения вакцинации от сезонных инфекционных заболеваний.

				.hide.js-hidden-text
					p «Показатели заболеваемости гриппом и ОРВИ в Москве находятся ниже пороговых эпидемических значений», - подчеркнул Министр Правительства Москвы, руководитель Департамента здравоохранения города Москвы.

					p По его словам в Москве, по состоянию на 20 ноября, вакцинировано против гриппа 2,83 миллиона человек, в том числе 1,95 миллиона взрослых, 880 тысяч детей (23,6 процента населения).
				a(href="#").show-more.js-hidden-text-show Показать полностью

			+comments