extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name Новости
			+page-search
			
			mixin item-date-link(date, tag, name, tagstyle)
				.item-date-link
					.meta
						.date 
							| #{date}
							.date__tag(class="#{tagstyle}")= tag
						.comments-count: a(href="#").btn_trans_comments 188
					.link: a(href="#")= name

			+item-date-link("13 ноября - 16 ноября", "Новости", "Департамент здравоохранения Москвы изучает возможность увольнения 7 тыс. врачей пенсионного и предпенсионного возраста")
			+item-date-link("13 ноября - 16 ноября", "Новости", "Департамент здравоохранения Москвы изучает возможность увольнения 7 тыс. врачей пенсионного и предпенсионного возраста")
			+item-date-link("11 ноября", "ЕМИАС", "Реформа здравоохранения Москвы не приведёт к недостатку больничных коек и массовому сокращению медперсонала. Об этом заявил заммэра по соцвопросам Леонид Печатников", "date__tag_green")
			+item-date-link("13 ноября - 16 ноября", "Новости", "Департамент здравоохранения Москвы изучает возможность увольнения 7 тыс. врачей пенсионного и предпенсионного возраста", "date__tag_red")
			
			+pager