block vars
	- var iswhite = true

extends _layout

block append content
	.content-wrap
		.content-text
			h1 Политика конфедициальности
			ol.list-offer
				li.name 
					span.num 1.  
					| Общие положения
				li 
					span.num 1.1 
					| Данный документ является официальным предложением (публичной офертой) федерального государственного бюджетного учреждения «Российская государственная библиотека» (далее РГБ), именуемого в дальнейшем «Исполнитель», и содержит все существенные условия получения библиотечно-иформационных и репрографических услуг (далее Услуг).
				li 
					span.num 1.2 
					| В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (далее – ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг, физическое лицо, производящее акцепт этой Оферты становится «Заказчиком» (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению Договора на условиях, изложенных в Оферте), а Исполнитель и Заказчик совместно — «Сторонами» Договора.
				li
					span.num 1.3 
					| Акцептом условий, изложенных в настоящей публичной Оферте, является факт регистрации Заказчиком на специализированном интернет-ресурсе РГБ размещенном по постоянному адресу: http://udo.rsl.ru.
			ol.list-offer
				li.name 
					span.num 2.  
					| Общие положения
				li 
					span.num 2.1 
					| Данный документ является официальным предложением (публичной офертой) федерального государственного бюджетного учреждения «Российская государственная библиотека» (далее РГБ), именуемого в дальнейшем «Исполнитель», и содержит все существенные условия получения библиотечно-иформационных и репрографических услуг (далее Услуг).
				li 
					span.num 2.2 
					| В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (далее – ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг, физическое лицо, производящее акцепт этой Оферты становится «Заказчиком» (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению Договора на условиях, изложенных в Оферте), а Исполнитель и Заказчик совместно — «Сторонами» Договора.
				li
					span.num 2.3 
					| Акцептом условий, изложенных в настоящей публичной Оферте, является факт регистрации Заказчиком на специализированном интернет-ресурсе РГБ размещенном по постоянному адресу: http://udo.rsl.ru.
			.center: a(href="#").btn-red Начать игру