extends _layout

block append content
	.upperbar.js-upperbar
		.upperbar-in
			+upper-search
	
	.infoboxs.infoboxs-4-col
		mixin infobox(pic, name)
			.infobox
				.infobox-in.js-infobox.js-showhover-box
					.infobox__pic 
						a(href="#")
							img(src="img/#{pic}.png", alt="")
					.infobox__content
						a(href="#") 
							.name= name
						.content
							.text Описание в две строчки. Опросы общественного мнения, проведенные в 2010 году
							.hover: a(href="#").btn-red.ripplelink Смотреть задачи
		+infobox(
			"booty-1",
			"Яндекс"
		)
		.infobox
			.infobox-in.js-infobox.js-showhover-box
				.infobox__pic 
					a(href="#")
						img(src="img/booty-1.png", alt="")
				.infobox__content
					a(href="#") 
						.name Самсунг
					.content.has-min-height
						.text Мне подходит
						.hover: a(href="#").btn-red.ripplelink Смотреть задачи
		+infobox(
			"booty-2",
			"Гугл"
		)
		+infobox(
			"booty-3",
			"Майкрософт"
		)
		+infobox(
			"booty-4",
			"Яблоко"
		)
		+infobox(
			"booty-2",
			"Помидорка"
		)
		
		mixin infobox_empty
			.infobox.infobox_empty
				.infobox-in.js-infobox
					.infobox__pic 
						img(src="img/booty-empty.png", alt="")
					.infobox__content
						.line.w2
						.line.w1
						.desc 
							.line.w3
							.line
		+infobox_empty
		+infobox_empty
		+infobox_empty
		+infobox_empty
		+infobox_empty
		+infobox_empty