extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name.has-bottom-line Аптеки
				ul.view-by
					li.list: a(href="#")
					li.map.is-active: a(href="#")

			.filter-items.center
				+filter-item-right
				+filter-item-center
				+filter-item-left
			+page-search-found

			.map.js-popupmap-box
				ul
					li: a(href="#", data-mapitem-id="1").js-popupmap-link Первое окошко
					li: a(href="#", data-mapitem-id="2").js-popupmap-link Второе окошко
				.map__content.js-popupmap-content
					.map__prev: img(src="img/map.jpg", alt="")
					.map__popup(data-mapitem-id="1").js-popupmap-item
						.name Аптека № 5 ГБУЗ "ЦЛО <br>и КК ДЗ г.Москвы"
						.desc
							div 103031, г. Москва, ул. Петровка, д. 19, стрю 1, 3; 
							div тел.: (499) 252-4305; (499) 252-4302
							div: a(href="#") www.mosgorzdrav.ru/apteka67
						.more
							a(href="#").btn.btn_blue_wide Подробнее 1
					.map__popup(data-mapitem-id="2").js-popupmap-item
						.name Аптека № 5 ГБУЗ "ЦЛО <br>и КК ДЗ г.Москвы"
						.desc
							div 103031, г. Москва, ул. Петровка, д. 19, стрю 1, 3; 
							div тел.: (499) 252-4305; (499) 252-4302
							div: a(href="#") www.mosgorzdrav.ru/apteka67
						.more
							a(href="#").btn.btn_blue_wide Подробнее 2
