extends _layout

block append content
	.upperbar.js-upperbar
		.upperbar-in
			+upper-search
			.sort-menu.is-float-left
				ul
					li.sort-desc.is-active
						a(href="#")
							span Участники
			.sort-menu.is-float-right
				ul
					li
						a(href="#")
							span Баллы

	.user-ratingview
		mixin user-rview-item
			.user-rview-item
				.user-rview-item__num 1
				.user-rview-item__pic
					a(href="#") 
						img(src="img/ava.png", alt="")
				.user-rview-item__name
					.name: a(href="#") Евгений Павленко
				.user-rview-item__rating
					.user-level
						.num 32
						.right
							.level уровень
							.count 
								.black 4 120 
								| / 5 000
						.status.down
			.user-rview-item
				.user-rview-item__num 23
				.user-rview-item__pic
					a(href="#") 
						img(src="img/ava.png", alt="")
				.user-rview-item__name
					.name: a(href="#") Александр Подобед
				.user-rview-item__rating
					.user-level
						.num 16
						.right
							.level уровень
							.count 
								.black 4 473 
								| / 5 000
						.status.up

		+user-rview-item
		.user-rview-item.is-active
				.user-rview-item__num 1
				.user-rview-item__pic
					a(href="#") 
						img(src="img/ava-mishin-sm.png", alt="")
				.user-rview-item__name
					.name: a(href="#") Антон Мишин
				.user-rview-item__rating
					.user-level
						.num 32
						.right
							.level уровень
							.count 
								.black 4 120 
								| / 5 000
						.status.down
		+user-rview-item
		+user-rview-item
		
	+pager