extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name Государственные услуги
			.content-box.width-limit
				ul.list-style-grey
					li Перечень государственных услуг (работ), оказываемых (выполняемых) государственными учреждениями города Москвы, находящимися в ведении Департамента здравоохранения города Москвы, в качестве основных видов деятельности
					li Служба «одного окна» ГКУЗ «Центрального объединенного архива Департамента здравоохранения города Москвы»
					li Оказание медицинской помощи
					li Лицензирование в сфере здравоохранения
					li Административный регламент оказания государственной услуги «Прием заявок (запись) на прием к врачу»
					li Административный регламент предоставления государственной услуги «Предоставление права на путёвку-направление на санаторно-курортное лечение лицам, подвергшимся воздействию радиации вследствие катастрофы на Чернобыльской АЭС, а также вследствие ядерных испытаний на Семипалатинском полигоне и приравненных к ним 
					li Ведение торгового реестра города Москвы (аптечные учреждения)