extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name.has-bottom-line.has-margin-bottom Главные внештатные специалисты
			
			.content-box.width-limit
				mixin item-date-link
					.item-date-link
						.normal ТЮРИН Владимир Петрович
						.small-grey Главный внештатный специалист терапевт, специалист общей врачебной практики (семейный врач)
						.small-blue-grey ФГБУ «Национальный медико- хирургический Центр имени Н.И. Пирогова» Минздрава России, главный терапевт, д.м.н., профессор
				
				+item-date-link
				+item-date-link
				+item-date-link
				+item-date-link
				+item-date-link
				+item-date-link