extends _layout

block append content
	.row.row-2
		.col
			.infobox__head
				.name 
					img(src="img/icons/cube-red.png", alt="")
					.name-in Придумать название магазина доставки сладкой продукции
				.slider-nav
					ul
						li.prev: a(href="#")
						li.sep
						li.next: a(href="#")
			.infoboxs.infoboxs-col-1
				mixin infobox-graph
					.infobox
						.infobox-in
							.infobox__meta
								.name: h3 Просмотры
								.price
									| 17
									.rub
							.infobox__content: img(src="img/content/infobox-graph.png", alt="").full
				
				+infobox-graph
				+infobox-graph
				+infobox-graph


		.col
			.infobox__head
				.name Общая статистика
			.infoboxs-col-2
				mixin infobox-statistic(price, num, desc)
					.infobox.infobox_statistic
						.infobox-in
							.infobox__price= price
								.rub
							.infobox__count
								.num= num
								.desc= desc
							.infobox__more: a(href="#") Посмотреть все задачи
				+infobox-statistic("5 000 000", "10", "задач")
				+infobox-statistic("50", "18 970", "просмотров")
				+infobox-statistic("613", "9 676", "участников")
				+infobox-statistic("613", "988", "решений")