extends _layout

block append content
	+pathway

	.l-main
		+left-menu
		
		.l-content
			h1.page-name.has-bottom-line.has-margin-bottom Структурные подразделения
			.strukure-line
				.strukure-full
					.strukure-info Управление делами и координации деятельности Департамента здравоохранения города Москвы
					.strukure-name Никонов Евгений Леонидович
					.strukure-prof Начальник Управления
			.strukure-line
				.strukure-left
					.strukure-info Отдел руководителя
					.strukure-name Белямова Юлия Михайловна
					.strukure-prof Начальник отдела
					.strukure-name 
						ul.no-list-style-no-mr
							li Неустроева Елена Петровна
							li Белямова Юлия Михайловна
							li Зобов Михаил Александрович
							li Белямова Юлия Михайловна
							li Зобов Михаил Александрович
					.strukure-prof Главный специалист
				.strukure-right
					.strukure-name Никонов Евгений Леонидович
					.strukure-prof Начальник Управления 
					.strukure-name Неустроева Елена Петровна
					.strukure-prof Cпециалист 1 категории
			
			.strukure-line
				.strukure-info Управление по работе с административными округами
				.strukure-left
					.strukure-name Белямова Юлия Михайловна
					.strukure-prof Начальник отдела
					.strukure-name 
						ul.no-list-style-no-mr
							li Неустроева Елена Петровна
							li Белямова Юлия Михайловна
							li Зобов Михаил Александрович
							li Белямова Юлия Михайловна
							li Зобов Михаил Александрович
					.strukure-prof Главный специалист
				.strukure-right
					.strukure-name ЗАДАЧИ И ФУНКЦИИ УПРАВЛЕНИЯ
					.strukure-prof
						p 1. Основной задачей Управления является обеспечение выполнения Департаментом функций по выработке основных направлений государственной политики в здравоохранении и их реализации во взаимодействии с Дирекциями.

						p 1.1. В целях реализации основной задачи Управление осуществляет следующие функции:
						p 1.1.1. Участие в разработке проектов законодательных и иных нормативных правовых актов, связанных с реализацией установленных задач и полномочий, отнесенным к компетенции Департамента.

						p 1.1.2. Подготовка предложений: <br>
						p по вопросам создания Дирекций и государственных учреждений здравоохранения, определения предмета и целей их деятельности, реорганизации и ликвидации; <br>о поощрении руководителей Дирекций и государственных учреждений здравоохранения, применении к ним мер ответственности; <br>по представлению на утверждение руководителю Департамента кандидатур на должности руководителей Дирекций и государственных учреждений здравоохранения.
						p 1.1.3. Согласование: <br>уставов Дирекций и государственных учреждений здравоохранения; <br>кандидатур на должности заместителей руководителей и главных бухгалтеров Дирекций по представлению руководителей Дирекций; <br>условий трудового договора с руководителями Дирекций;<br> структуры и штатного расписания, по представлению руководителей Дирекций административных округов города Москвы;<br>разрешения на оказание платных медицинских услуг государственными учреждениями здравоохранения.

			.strukure-line
				.strukure-info Управление строительства и капитального ремонта
				.strukure-left
					.strukure-name Белямова Юлия Михайловна
					.strukure-prof Начальник отдела
					.strukure-name 
						ul.no-list-style-no-mr
							li Неустроева Елена Петровна
							li Белямова Юлия Михайловна
							li Зобов Михаил Александрович
							li Белямова Юлия Михайловна
							li Зобов Михаил Александрович
					.strukure-prof Главный специалист
					.strukure-space
					.strukure-name Курируемые управлением подразделения:
					.strukure-prof Государственное казенное учреждение здравоохранения.<br> “Производственно-техническое объединение капитального ремонта и строительства Департамента здравоохранения города Москвы” 
					.strukure-space
					.strukure-name Генеральный директор: 
					.strukure-prof Прокопенко Андрей Евгеньевич, <br>(499) 238-13-54
				.strukure-right
					.strukure-name ЗАДАЧИ И ФУНКЦИИ УПРАВЛЕНИЯ
					.strukure-prof
						p 1. Основной задачей Управления является обеспечение выполнения Департаментом функций по выработке основных направлений государственной политики в здравоохранении и их реализации во взаимодействии с Дирекциями.

						p 1.1. В целях реализации основной задачи Управление осуществляет следующие функции:
						p 1.1.1. Участие в разработке проектов законодательных и иных нормативных правовых актов, связанных с реализацией установленных задач и полномочий, отнесенным к компетенции Департамента.

						p 1.1.2. Подготовка предложений: <br>
						p по вопросам создания Дирекций и государственных учреждений здравоохранения, определения предмета и целей их деятельности, реорганизации и ликвидации; <br>о поощрении руководителей Дирекций и государственных учреждений здравоохранения, применении к ним мер ответственности; <br>по представлению на утверждение руководителю Департамента кандидатур на должности руководителей Дирекций и государственных учреждений здравоохранения.
						p 1.1.3. Согласование: <br>уставов Дирекций и государственных учреждений здравоохранения; <br>кандидатур на должности заместителей руководителей и главных бухгалтеров Дирекций по представлению руководителей Дирекций; <br>условий трудового договора с руководителями Дирекций;<br> структуры и штатного расписания, по представлению руководителей Дирекций административных округов города Москвы;<br>разрешения на оказание платных медицинских услуг государственными учреждениями здравоохранения.

				