/*
	proscom.ru
	Simple Communication

	ilko.me
	Ilya Komichev
*/
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=cyrillic,latin");
@import "normalize.css";
.clear:before,
.clear:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  display: none;
}
.w100 {
  width: 100%;
}
.inline {
  display: inline;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.middle {
  vertical-align: middle;
}
.margin-no {
  margin: 0;
}
.font-16-ttu {
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
}
.color-red {
  color: #b64c4c;
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
ul {
  margin: 5px 0 40px 0px;
}
ul li {
  margin: 0 0 20px 0px;
  list-style: disc inside;
  font-weight: 300;
}
ul li ul,
ul li ol {
  margin: 15px 0 10px 0;
}
ol {
  margin: 5px 0 40px 0;
}
ol li {
  margin: 0 0 15px 0px;
  list-style: decimal inside;
  font-weight: 300;
}
ol li ul,
ol li ol {
  margin: 15px 0 10px 0;
}
.no-list-style {
  margin: 0;
}
.no-list-style li {
  margin-left: 0;
  list-style-type: none;
}
.list-style-grey {
  margin: 0;
  list-style: none;
}
.list-style-grey li {
  margin: 0;
  list-style: none;
}
.list-style-grey li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
  line-height: 20px;
}
.list-style-grey li:before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: color-blue-grey;
}
.no-list-style-no-mr {
  margin: 0;
  list-style: none;
}
.no-list-style-no-mr li {
  margin: 0;
  list-style: none;
}
.no-list-style-no-mr li {
  margin: 0;
}
p {
  margin-bottom: 20px;
}
a {
  color: #4691c2;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
a:hover {
  text-decoration: none;
  color: #b64c4c;
}
a.active {
  cursor: default;
  text-decoration: none;
}
li.is-active a {
  cursor: default;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px 0;
  color: #5f5f5f;
  font-weight: 300;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 16px;
}
label,
input,
button,
select,
textarea {
  color: #5f5f5f;
  font-size: 16px;
  font-family: 'Roboto', arial, tahoma, sans-serif;
}
select {
  width: 270px;
  margin-bottom: 10px;
  height: 53px;
  padding: 0px 10px;
  color: #5f5f5f;
  font-size: 16px;
  font-family: 'Roboto', arial, tahoma, sans-serif;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  transition: 0.3s ease-out;
}
select:hover {
  border-color: rgba(148,148,148,0.7);
}
select:focus {
  border-color: #949494;
}
select.select-grey {
  background: #f5f5f5;
}
select option {
  width: auto;
  padding: 5px 10px;
  color: #5f5f5f;
  border-color: none;
}
select.full {
  width: 100%;
}
select.width-500 {
  width: 500px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"] {
  width: 310px;
  margin-bottom: 20px;
  padding: 15px 20px;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  transition: 0.3s ease-out;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="phone"]:hover {
  border-color: rgba(148,148,148,0.7);
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="phone"]:focus {
  border-color: #949494;
}
input.input-full,
input.full {
  width: 100%;
}
input.input-trans {
  width: 100%;
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  font-size: 36px;
  font-weight: 300;
}
.input-with-price {
  position: relative;
  display: inline-block;
}
.input-with-price input {
  padding-right: 45px;
}
.input-with-price:after {
  content: " ";
  z-index: 30;
  position: absolute;
  right: 15px;
  top: 17px;
  width: 18px;
  height: 18px;
  background: url("../img/icons/rub.png") no-repeat;
}
input[type="submit"] {
  width: auto;
  padding: 15px 30px;
  border: none;
  transition: 0.3s ease-out;
}
input[type="submit"]:active {
  opacity: 0.8;
}
textarea {
  width: 100%;
  max-width: 100%;
  height: 250px;
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  transition: 0.3s ease-out;
}
textarea:hover {
  border-color: rgba(148,148,148,0.7);
}
textarea:focus {
  border-color: #949494;
}
.textarea_full {
  width: 100%;
}
input[type="radio"] + label {
  cursor: pointer;
  margin: 0px 20px 0px 0;
  color: #5f5f5f;
  font-size: 16px;
  font-family: 'Roboto', arial, tahoma, sans-serif;
}
input[type="radio"] + label::before {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 10px -3px 0px;
  background: url("../img/radio.png") no-repeat;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:disabled + label {
  cursor: default;
}
input[type="radio"] + label:hover::before {
  background-position: 0px 0px;
}
input[type="radio"]:checked + label::before {
  background-position: 0 -18px;
}
input[type="radio"]:disabled + label::before {
  background-position: 0px 0px;
  opacity: 0.8;
}
input[type="radio"]:checked:disabled + label::before {
  background-position: 0px -18px;
  opacity: 0.8;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
  margin: 0 3px 0 0;
  vertical-align: top;
}
input[type="checkbox"] + label {
  cursor: pointer;
}
input[type="checkbox"]:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type="checkbox"]:not(checked) + label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 35px;
  font-size: 14px;
}
input[type="checkbox"]:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 0px;
  width: 21px;
  height: 21px;
  background: url("../img/checkbox-b.png") no-repeat;
}
input[type="checkbox"]:checked + label:after {
  background-position: 0 -21px;
}
input[type="checkbox"]:checked + label:before {
  position: relative;
}
input[type="checkbox"].checkbox-right + label {
  cursor: pointer;
}
input[type="checkbox"].checkbox-right:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type="checkbox"].checkbox-right:not(checked) + label {
  position: relative;
  display: block;
  padding: 0 40px 0 0;
  font-size: 14px;
}
input[type="checkbox"].checkbox-right:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: inherit;
  right: 0px;
  width: 11px;
  height: 11px;
  background: url("../img/checkbox.png") no-repeat;
}
input[type="checkbox"].checkbox-right:checked + label:after {
  background-position: 0 -11px;
}
input[type="checkbox"].checkbox-right:checked + label:before {
  position: relative;
}
table {
  width: 100%;
}
table td {
  vertical-align: top;
}
html {
  height: 100%;
}
.page-body {
  overflow-y: scroll;
  height: 100%;
  min-width: 1320px;
  font-size: 14px;
  color: #5f5f5f;
  font-family: 'Roboto', arial, tahoma, sans-serif;
  font-weight: 500;
  background: #eee;
}
.page-white {
  background: #fff;
}
.ilkome {
  display: table;
  table-layout: fixed;
  position: relative;
  width: 100%;
  min-width: 1270px;
  min-height: 100%;
}
.l-left {
  display: table-cell;
  position: relative;
  width: 260px;
  vertical-align: top;
  background: #1a1a1a;
}
@media (min-height: 700px) and (min-width: 1300px) {
  .l-left {
    z-index: 10;
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
  }
}
.l-right {
  display: table-cell;
  position: relative;
  width: 100%;
  padding: 20px 20px 130px 20px;
  vertical-align: top;
}
@media (min-height: 700px) and (min-width: 1300px) {
  .l-right {
    padding-left: 280px;
  }
}
.row {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.row-auto {
  display: table;
  width: 100%;
  table-layout: "auto";
}
.row-auto > .col {
  width: auto;
  vertical-align: middle;
}
.col {
  width: 100%;
  display: table-cell;
  vertical-align: top;
  vertical-align: top;
}
.col.is-middle {
  vertical-align: middle;
}
.col-30 {
  width: 30%;
  padding-right: 10px;
}
.col-70 {
  width: 70%;
  padding-left: 10px;
}
.row-2 > .col {
  width: 50%;
}
.row-2 > .col.col-40 {
  width: 40%;
}
.row-2 > .col.col-60 {
  width: 60%;
}
.row-2 > .col:first-child {
  padding-right: 10px;
}
.row-2 > .col:last-child {
  padding-left: 10px;
}
.row-3 > .col {
  width: 33.333%;
}
.row-3 > .col:first-child {
  padding-right: 10px;
}
.row-3 > .col:last-child {
  padding-left: 10px;
}
.pad-b-80 {
  padding-bottom: 80px;
}
.btn,
.btn-blue,
.btn-green,
.btn-grey,
.btn-red,
.add-task-full a {
  display: inline-block;
  width: 200px;
  padding: 20px 10px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 3px;
}
.btn:hover,
.btn-blue:hover,
.btn-green:hover,
.btn-grey:hover,
.btn-red:hover,
.add-task-full a:hover {
  color: #fff;
}
.btn-small {
  width: 150px;
  padding: 10px 10px;
  font-weight: 300;
}
.btn-blue {
  background: #4691c2;
}
.btn-blue:hover {
  background: #599cc8;
}
.btn-green {
  background: #3cc8b4;
}
.btn-green:hover {
  background: #1abca5;
}
.btn-grey {
  color: #a2a2a2;
  background: #e7e7e7;
}
.btn-grey:hover {
  color: #a2a2a2;
  background: #dedede;
}
.btn-red,
.add-task-full a {
  background: #b64c4c;
}
.btn-red:hover,
.add-task-full a:hover {
  background: #bd5e5e;
}
.btn-blue-dotted {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: #50b3a5;
  text-align: center;
  border: 1px dashed #50b3a5;
  border-radius: 4px;
}
.btn-blue-dotted:hover {
  color: rgba(80,179,165,0.7);
  border-color: rgba(80,179,165,0.7);
}
.icon {
  display: inline-block;
  vertical-align: baseline;
}
.icon-medals {
  font-size: 30px;
  display: inline-block;
  padding-right: 25px;
  background: url("../img/icons/medal.png") center right no-repeat;
}
.icon-medals.has-margin {
  margin-right: 15px;
}
.contentbox {
  padding-top: 60px;
}
.contentbox.has-small-padding {
  padding-top: 30px;
}
.contentbox p {
  font-weight: 300;
  line-height: 30px;
}
.contentbox__name {
  position: relative;
}
.contentbox__name.has-padding {
  padding-bottom: 40px;
}
.contentbox__name:before,
.contentbox__name:after {
  content: "";
  display: table;
  clear: both;
}
.contentbox__name .desc {
  color: #949494;
  font-size: 13px;
  text-transform: uppercase;
}
.contentbox__name .id {
  float: right;
  text-transform: uppercase;
  color: #949494;
  font-size: 13px;
}
.contentbox__name .id strong {
  color: #5f5f5f;
}
.contentbox__name .pic {
  position: absolute;
  top: 0px;
  left: -45px;
}
.contentbox__name .pic img {
  border: 3px solid #ededed;
  border-radius: 32px;
}
@media (min-height: 700px) and (min-width: 1300px) {
  .contentbox__name .pic {
    left: -75px;
  }
  .contentbox__name .pic img {
    border: 10px solid #ededed;
  }
}
.contentbox__meta .col {
  width: 25%;
}
.contentbox-text {
  padding: 90px 0 0px 0;
  font-weight: 300;
}
.contentbox-text.has-small-padding {
  padding-top: 30px;
}
.contentbox-text h1 {
  font-size: 36px;
  margin-bottom: 75px;
}
.contentbox-text h1.is-small {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.contentbox-text p {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 16px;
}
.contentbox-wrap {
  width: 1036px;
  margin: 0 auto;
  padding: 0 40px;
}
ol.list-offer {
  margin: 0;
  list-style: none;
  margin-bottom: 75px;
}
ol.list-offer li {
  margin: 0;
  list-style: none;
}
ol.list-offer li {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 40px;
}
ol.list-offer li.name {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 300;
}
.add-task-full {
  padding-bottom: 20px;
}
.add-task-full a {
  width: 100%;
  display: block;
  padding: 25px;
  font-size: 16px;
  background: #c46d6d;
}
.add-task-full a .link {
  display: inline-block;
  padding-left: 30px;
  background: url("../img/icons/plus.png") no-repeat;
}
.close-popup {
  float: left;
  border-radius: 4px;
  transition: 0.3s ease-out;
}
.close-popup:hover {
  background: #f5f5f5;
}
.close-popup a {
  display: block;
  width: 75px;
  height: 75px;
  background: url("../img/icons/close.png") center center no-repeat;
}
.close-popup a:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dateblock {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  text-align: left;
}
.dateblock.is-right {
  padding-left: 0;
  padding-right: 40px;
  text-align: right;
}
.dateblock.is-right .day {
  left: inherit;
  right: 0;
}
.dateblock .day {
  position: absolute;
  left: 0px;
  top: -2px;
  color: #5f5f5f;
  font-size: 30px;
}
.dateblock .month {
  padding-top: 6px;
  font-size: 13px;
  line-height: 13px;
  color: #949494;
  text-transform: uppercase;
}
.dateblock .year {
  font-size: 11px;
  color: #949494;
}
.membersblock {
  display: inline-block;
  color: #5f5f5f;
  font-size: 20px;
  background: url("../img/icons/membersblock.png") right center no-repeat;
}
.membersblock:after {
  content: " ";
  display: inline-block;
  margin-left: 5px;
  width: 19px;
  height: 12px;
  background: url("../img/icons/membersblock.png") right center no-repeat;
}
.solutionsblock {
  display: inline-block;
  color: #5f5f5f;
  font-size: 20px;
}
.solutionsblock:after {
  content: " ";
  display: inline-block;
  margin-left: 5px;
  width: 11px;
  height: 15px;
  background: url("../img/icons/solutionsblock.png") right center no-repeat;
}
.commentsblock {
  display: inline-block;
  color: #5f5f5f;
  font-size: 20px;
}
.commentsblock:after {
  content: " ";
  display: inline-block;
  margin-left: 5px;
  width: 23px;
  height: 15px;
  background: url("../img/icons/commentsblock.png") right center no-repeat;
}
.viewsblock {
  display: inline-block;
  color: #5f5f5f;
  font-size: 20px;
}
.viewsblock:after {
  content: " ";
  display: inline-block;
  margin-left: 5px;
  width: 20px;
  height: 12px;
  background: url("../img/icons/viewsblock.png") right center no-repeat;
}
.rub {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/icons/rub.png") no-repeat;
}
.slider-nav {
  float: left;
  padding: 28px 0 0 30px;
}
.slider-nav:before,
.slider-nav:after {
  content: "";
  display: table;
  clear: both;
}
.slider-nav ul {
  margin: 0;
  list-style: none;
}
.slider-nav ul li {
  margin: 0;
  list-style: none;
}
.slider-nav li {
  display: inline-block;
  vertical-align: middle;
}
.slider-nav a {
  display: block;
}
.slider-nav li.prev {
  padding-right: 15px;
}
.slider-nav li.prev a {
  width: 17px;
  height: 14px;
  background: url("../img/icons/arrow-right.png") no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.slider-nav li.prev a:hover {
  opacity: 0.7;
}
.slider-nav li.next {
  padding-left: 15px;
}
.slider-nav li.next a {
  width: 17px;
  height: 14px;
  background: url("../img/icons/arrow-right.png") no-repeat;
}
.slider-nav li.next a:hover {
  opacity: 0.7;
}
.slider-nav li.sep {
  width: 1px;
  height: 22px;
  margin: 0 5px;
  background: #e6e6e6;
}
.action-btns {
  text-align: center;
}
.action-btns a {
  margin: 0 10px;
}
.booty {
  padding-bottom: 40px;
}
.booty:before,
.booty:after {
  content: "";
  display: table;
  clear: both;
}
.booty:last-child {
  padding-bottom: 0;
}
.booty__pic {
  float: left;
  width: 100px;
}
.booty__pic img {
  width: auto !important;
}
.booty__pic a:hover {
  opacity: 0.7;
}
.booty__content {
  overflow: hidden;
  padding-top: 25px;
  padding-left: 20px;
}
.booty__content:before,
.booty__content:after {
  content: "";
  display: table;
  clear: both;
}
.booty__name {
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}
.booty__name a {
  color: #5f5f5f;
}
.booty__name a:hover {
  color: #b64c4c;
}
.booty__date {
  font-size: 13px;
  text-transform: uppercase;
}
.comments-name {
  padding-bottom: 30px;
}
.comments-count {
  margin-left: 5px;
  color: #949494;
  font-size: 16px;
}
.comments-write {
  position: relative;
  padding-bottom: 30px;
}
.comments-write .pic {
  position: absolute;
  left: 0px;
  top: 0px;
}
.comments-write .content {
  padding-left: 70px;
}
.comments-write .content textarea {
  height: 55px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.comments-write .content textarea.is-active {
  height: 300px;
}
.comments-write .textarea-desc__more {
  display: none;
}
.comments-write .textarea-desc__more .action {
  float: right;
  margin: -15px -20px 0 0;
  position: relative;
}
.comments-write .textarea-desc__more .action .btn-blue {
  padding: 15px;
  border-radius: 0;
}
.comments-write .files {
  display: none;
}
.comments-list {
  padding-bottom: 20px;
}
.comment {
  position: relative;
  padding-left: 70px;
  padding-bottom: 30px;
}
.comment .comment {
  margin-top: 40px;
  padding-bottom: 0;
}
.comment__prev {
  position: absolute;
  left: 0px;
  top: 0px;
}
.comment__meta .name {
  float: left;
  padding-bottom: 5px;
}
.comment__meta .name a {
  color: #949494;
}
.comment__meta .name a:hover {
  color: #b64c4c;
}
.comment__meta .date {
  color: #c2c2c2;
  float: right;
}
.comment__content {
  clear: both;
  font-size: 16px;
  font-weight: 300;
}
.comment__content .answer {
  padding-top: 5px;
}
.comment__content .answer a {
  display: block;
  padding-left: 20px;
  color: #949494;
  font-size: 13px;
  font-weight: 500;
  background: url("../img/icons/answer.png") 0 center no-repeat;
}
.comment__content .answer a:hover {
  color: #b64c4c;
}
.infoboxs {
  position: relative;
}
.infoboxs-col-1 {
  font-size: 0;
  text-align: center;
  display: block;
  margin: 0 -10px 0 -10px;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  text-align: left;
}
.infoboxs-col-1 > * {
  position: relative;
  width: 100%;
  min-height: 1px;
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
}
.infoboxs-col-1 > * {
  padding: 0 10px;
}
.infoboxs-col-2 {
  font-size: 0;
  text-align: center;
  display: block;
  margin: 0 -10px 0 -10px;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  text-align: left;
}
.infoboxs-col-2 > * {
  position: relative;
  width: 100%;
  min-height: 1px;
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
}
.infoboxs-col-2 > * {
  padding: 0 10px;
}
.infoboxs-col-2 .infobox {
  width: 100%;
}
@media (min-height: 850px) and (min-width: 1700px) {
  .infoboxs-col-2 .infobox {
    width: 50%;
  }
}
.infoboxs-4-col {
  font-size: 0;
  text-align: center;
  display: block;
  margin: 0 -10px 0 -10px;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  text-align: left;
}
.infoboxs-4-col > * {
  position: relative;
  width: 100%;
  min-height: 1px;
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
}
.infoboxs-4-col > * {
  padding: 0 10px;
}
.infoboxs-4-col .infobox {
  width: 33.333333333333336%;
}
@media (min-height: 850px) and (min-width: 1700px) {
  .infoboxs-4-col .infobox {
    width: 25%;
  }
}
.infoboxs-col-2-line {
  font-size: 0;
  text-align: center;
  display: block;
  margin: 0 0px 0 0px;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  text-align: left;
}
.infoboxs-col-2-line > * {
  position: relative;
  width: 100%;
  min-height: 1px;
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
}
.infoboxs-col-2-line > * {
  padding: 0 0px;
}
.infoboxs-col-2-line .infoboxs-col-wrap {
  width: 100%;
}
@media (min-height: 850px) and (min-width: 1700px) {
  .infoboxs-col-2-line .infoboxs-col-wrap {
    width: 50%;
  }
}
.infobox {
  padding: 10px;
  font-weight: 300;
}
.infoboxtext {
  padding: 10px;
  text-align: left;
}
.infoboxtext .infobox-in {
  text-align: left;
}
@media (min-height: 700px) and (min-width: 1300px) {
  .infoboxtext .infobox-in {
    padding: 30px;
  }
}
.infobox-in {
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.3s ease-out;
}
.infobox-in:hover {
  border: 1px solid rgba(148,148,148,0.5);
}
@media (min-height: 700px) and (min-width: 1300px) {
  .infobox-in {
    padding: 50px 40px;
  }
}
.infobox__head {
  position: relative;
  overflow: hidden;
  padding: 0 30px;
  height: 75px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 3px;
}
.infobox__head .name {
  padding: 27px 110px 10px 0px;
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}
.infobox__head .name img {
  display: block;
  float: left;
  margin-top: -15px;
  border: 10px solid #ededed;
  border-radius: 32px;
}
.infobox__head .name-in {
  padding-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infobox__head .slider-nav {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 120px;
}
.infobox__meta {
  position: relative;
}
.infobox__meta:before,
.infobox__meta:after {
  content: "";
  display: table;
  clear: both;
}
.infobox__meta .name {
  text-align: left;
  padding-right: 20px;
}
.infobox__meta .name h3 {
  margin: 0;
  font-size: 13px;
  color: #949494;
  text-transform: uppercase;
  font-weight: 500;
}
.infobox__meta .name h3 .desc {
  display: inline-block;
  margin-left: 5px;
  color: #5f5f5f;
}
.infobox__meta .price {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #b64c4c;
  font-size: 16px;
}
.infobox__meta .price .rub {
  margin-bottom: -3px;
}
.infobox__meta .menu {
  position: absolute;
  right: 0px;
  top: 4px;
}
.infobox__meta .menu a {
  display: block;
  width: 14px;
  height: 10px;
  background: url("../img/icons/menu.png") no-repeat;
}
.infobox__meta .menu a:hover {
  background: url("../img/icons/menu-a.png") no-repeat;
}
.infobox__meta .menu a:after {
  content: " ";
  background: url("../img/icons/menu-a.png") no-repeat;
}
.infobox_empty .w1 {
  width: 40%;
}
.infobox_empty .w2 {
  width: 60%;
}
.infobox_empty .w3 {
  width: 80%;
}
.infobox_empty .line {
  display: block;
  height: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #f1f1f1;
}
.infobox_empty .desc {
  margin-top: 30px;
}
.infobox__pic img {
  transition: 0.3s ease-out;
}
.infobox__pic img:hover {
  opacity: 0.7;
}
.infobox__content {
  padding-top: 30px;
  color: #949494;
}
.infobox__content h2,
.infobox__content h3,
.infobox__content h4 {
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
}
.infobox__content .name {
  padding-bottom: 10px;
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}
.infobox__content .name:hover {
  color: #b64c4c;
}
.infobox__content .date {
  padding-bottom: 30px;
  font-size: 13px;
  text-transform: uppercase;
}
.infobox__content .content {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}
.infobox__content .content.has-min-height {
  min-height: 60px;
}
.infobox__content .hover {
  display: none;
  text-indent: 0px;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
}
.infobox__content img {
  display: block;
  width: 100%;
}
.infobox__content .infoline:last-child {
  padding-bottom: 0;
}
.infobox__price {
  font-size: 20px;
  color: #b64c4c;
}
.infobox__price .rub {
  margin-bottom: -1px;
}
.infobox__count {
  padding: 40px 0;
  font-weight: 300;
  white-space: nowrap;
}
.infobox__count .num {
  font-size: 90px;
  color: #5f5f5f;
}
.infobox__count .desc {
  font-size: 20px;
  color: #949494;
}
.infobox__more {
  font-size: 13px;
  font-weight: 500;
}
.infoline {
  padding-bottom: 25px;
}
.infoline__name {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #5f5f5f;
}
.infoline__content {
  font-size: 14px;
}
.infoline__content p {
  line-height: 25px;
}
.infoline__content a {
  color: #949494;
}
.infoline__content a:hover {
  color: #b64c4c;
}
.infoline__content .social-links ul {
  margin: 0;
  list-style: none;
}
.infoline__content .social-links ul li {
  margin: 0;
  list-style: none;
}
.infoline__content .social-links li {
  display: inline-block;
  padding-right: 10px;
}
.infoline__content .social-links a {
  display: block;
  width: 18px;
  height: 18px;
}
.infoline__content .social-links a:hover {
  opacity: 0.7;
}
.infoline__content .social-links li.fb a {
  background: url("../img/icons/fb.png") center center no-repeat;
}
.infoline__content .social-links li.vk a {
  background: url("../img/icons/vk.png") center center no-repeat;
}
.infoline__content .social-links li.tw a {
  background: url("../img/icons/tw.png") center center no-repeat;
}
.greybox {
  background: #f5f5f5;
  margin: 100px -20px 100px -20px;
  padding: 30px 50px;
}
.greybox__name {
  padding-bottom: 30px;
}
.greybox__name h3 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  color: #949494;
  margin-bottom: 0;
}
.greybox__content {
  position: relative;
}
.statustime {
  padding: 0 10px;
  border-left: 4px solid #c2c2c2;
  border-right: 4px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 40px;
}
.statustime__info .move {
  padding-bottom: 10px;
  color: #b64c4c;
  text-transform: uppercase;
  font-size: 13px;
}
.statustime__content {
  position: relative;
  padding-top: 20px;
}
.statustime__content:before,
.statustime__content:after {
  content: "";
  display: table;
  clear: both;
}
.statustime__content .line__event {
  z-index: 2;
  position: absolute;
  left: 50%;
  margin-left: -2.5px;
  bottom: 65px;
}
.statustime__content .line__event.is-right .text {
  left: -170px;
  border-radius: 4px 4px 0 4px;
}
.statustime__content .line__event.is-right .text:after {
  left: 150px;
  background: url("../img/line-event-bg-right.png") no-repeat;
}
.statustime__content .line__event .dot {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 5px;
  height: 5px;
  background: #b64c4c;
  border-radius: 3px;
}
.statustime__content .line__event .text {
  position: absolute;
  left: 23px;
  bottom: 2.5px;
  width: 150px;
  padding: 15px;
  color: #fff;
  text-align: left;
  background: #c87979;
  border-radius: 4px 4px 4px 0;
}
.statustime__content .line__event .text:after {
  content: " ";
  position: absolute;
  left: -13px;
  bottom: 0px;
  width: 13px;
  height: 15px;
  background: url("../img/line-event-bg.png") no-repeat;
}
.statustime__content .line__rating {
  z-index: 2;
  position: absolute;
  left: 22px;
  bottom: -45px;
}
.monthsbox {
  display: table;
  width: 100%;
  table-layout: "auto";
}
.monthsbox-item {
  position: relative;
  display: table-cell;
  vertical-align: top;
}
.monthsbox-item.has-border {
  border-left: 4px solid #c2c2c2;
}
.monthsbox-item .month {
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 0px;
  text-align: center;
  vertical-align: bottom;
  color: #a6a6a6;
  text-transform: uppercase;
}
.daysbox {
  display: table;
  width: 100%;
  table-layout: "auto";
  position: relative;
}
.daysbox__day {
  display: table-cell;
  vertical-align: top;
  position: relative;
  min-width: 20px;
  padding: 140px 0px 20px 0px;
  text-align: center;
  font-size: 13px;
  color: #949494;
  font-weight: 300;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
.daysbox__day:first-child {
  border-left: 0;
}
.daysbox__day:last-child {
  border-right: 0;
}
.daysbox__day.is-active {
  border-right: 2px solid #d5a0a0;
  border-left: 2px solid #d5a0a0;
  background: #f2ecec;
}
.faq-item.is-active .faq-item-quest {
  border-color: #b64c4c;
  border-color: #b64c4c;
}
.faq-item-quest {
  display: table;
  width: 100%;
  table-layout: "auto";
  margin-bottom: 2px;
  background: #f5f5f5;
  border-radius: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: 0.3s ease-out;
}
.faq-item__num {
  display: table-cell;
  vertical-align: top;
  padding: 25px 25px;
  color: #949494;
  text-align: center;
  vertical-align: middle;
}
.faq-item__name {
  display: table-cell;
  vertical-align: top;
  padding: 25px 0;
  vertical-align: middle;
}
.faq-item__name .cat {
  color: #949494;
  font-size: 10px;
  text-transform: uppercase;
}
.faq-item__name .name a {
  display: table;
  color: #5f5f5f;
  text-transform: uppercase;
  line-height: 20px;
}
.faq-item__name .name a:hover {
  color: #b64c4c;
}
.faq-item__action {
  display: table-cell;
  vertical-align: top;
  padding: 25px 30px;
  vertical-align: middle;
}
.faq-item__action a {
  display: block;
}
.faq-item__action a.plus {
  font-size: 30px;
  font-weight: 300;
  color: #949494;
}
.faq-item__action a.open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  color: #b64c4c;
}
.faq-item__content {
  margin-bottom: 2px;
  display: none;
  background: #f5f5f5;
  padding: 40px 60px;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}
.faq-ask {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
@media (min-height: 700px) and (min-width: 1300px) {
  .faq-ask {
    position: fixed;
    top: 0px;
    z-index: 4;
  }
}
.faq-ask-in {
  position: relative;
  margin-top: 115px;
  padding: 50px 0;
  background: #eee;
}
@media (min-height: 700px) and (min-width: 1300px) {
  .faq-ask-in {
    margin: 115px 0 0 260px;
  }
  .faq-ask-in.is-fixed {
    margin-top: 95px;
  }
  .faq-ask-in.is-fixed:after {
    top: -40px;
  }
}
.faq-ask-in .action {
  text-align: center;
}
.faq-ask-in .action a {
  margin: 0 10px;
}
.faq-ask-in:after {
  position: absolute;
  z-index: 10;
  top: -40px;
  right: 105px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  pointer-events: none;
  border-bottom-color: #eee;
  border-width: 26px;
  margin-left: -26px;
}
.files {
  position: relative;
  padding-bottom: 30px;
}
.files.has-padding {
  padding-bottom: 100px;
}
.files.has-padding-60 {
  padding-bottom: 60px;
}
.file {
  margin-bottom: 3px;
  padding: 10px 15px 10px 10px;
  text-align: left;
  border-radius: 4px;
  background: #f5f5f5;
  transition: 0.3s ease-out;
}
.file:before,
.file:after {
  content: "";
  display: table;
  clear: both;
}
.file__ext {
  float: left;
  width: 28px;
  height: 32px;
  padding-top: 9px;
  font-size: 11px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.file__ext.red {
  background: url("../img/icons/file-extend-red.png") no-repeat;
}
.file__prev {
  float: left;
  width: 28px;
  font-size: 11px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.file__name {
  float: left;
  padding-top: 7px;
  padding-left: 20px;
}
.file__name a {
  color: #949494;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.file__name a:hover {
  color: #b64c4c;
}
.file__download {
  float: right;
  padding-top: 10px;
}
.file__download a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/download.png") 0 -16px no-repeat;
}
.file__download a:hover {
  background-position: 0 0;
}
.file__remove {
  float: right;
  padding-top: 8px;
}
.file__remove a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/remove.png") center center no-repeat;
  opacity: 0.5;
}
.file__remove a:hover {
  opacity: 1;
}
.filter-menu {
  float: left;
  padding: 15px 0 0 20px;
  overflow: hidden;
}
.filter-menu.is-blue a:hover {
  color: #4691c2;
}
.filter-menu.is-blue li.is-active a {
  color: #fff;
  background: #4691c2;
}
.filter-menu ul {
  margin: 0;
  list-style: none;
  background: #f5f5f5;
  border-radius: 30px;
  padding: 3px;
}
.filter-menu ul li {
  margin: 0;
  list-style: none;
}
.filter-menu ul:before,
.filter-menu ul:after {
  content: "";
  display: table;
  clear: both;
}
.filter-menu li {
  float: left;
}
.filter-menu li.is-active a {
  color: #fff;
  background: #b64c4c;
  border-radius: 30px;
}
.filter-menu a {
  display: block;
  padding: 12px 15px;
  color: #949494;
  text-transform: uppercase;
}
.filter-menu a:hover {
  color: #b64c4c;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  padding-left: 300px;
  padding-right: 40px;
}
.footer:before,
.footer:after {
  content: "";
  display: table;
  clear: both;
}
.footer-copy {
  float: left;
  padding: 5px 0 4px 45px;
  color: #949494;
  background: url("../img/logo-sm.png") 0 center no-repeat;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  margin: 0;
  list-style: none;
}
.footer-menu ul li {
  margin: 0;
  list-style: none;
}
.footer-menu li {
  display: inline-block;
  padding-left: 30px;
}
.footer-menu a {
  color: #949494;
  font-size: 13px;
}
.footer-menu a:hover {
  color: #b64c4c;
}
.footer-menu li.is-active a {
  color: #b64c4c;
}
.leaders {
  margin: 0 -50px;
}
.leader-header,
.leader {
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 16px;
  transition: 0.3s ease-out;
}
.leader-header a {
  display: block;
  color: #b2b2b2;
  text-transform: uppercase;
  font-size: 13px;
}
.leader-header a:hover {
  color: #4691c2;
}
.leader-header a:hover span {
  background: url("../img/icons/arrow-down-blue.png") right center no-repeat;
}
.leader-header a.is-active {
  color: #4691c2;
}
.leader-header a.is-active span {
  background: url("../img/icons/arrow-down-blue.png") right center no-repeat;
}
.leader-header a.is-active.sort-desc span {
  background: url("../img/icons/arrow-up-blue.png") right center no-repeat;
}
.leader-header span {
  display: inline-block;
  padding-right: 15px;
  background: url("../img/icons/arrow-down-grey.png") right center no-repeat;
}
.leader {
  font-weight: 300;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.leader:hover {
  background: rgba(236,236,236,0.7);
}
.leader.is-active {
  background: #ececec;
  border-color: #b64c4c;
  border-color: #b64c4c;
}
.leader-col {
  display: table-cell;
  vertical-align: middle;
  padding: 15px 10px;
}
@media (min-height: 700px) and (min-width: 1300px) {
  .leader-col {
    padding: 15px 20px;
  }
}
@media (min-height: 850px) and (min-width: 1700px) {
  .leader-col {
    padding: 15px 30px;
  }
}
.leader__place {
  padding-left: 50px;
  width: 10%;
}
.leader__name {
  width: 20%;
}
.leader__name:before,
.leader__name:after {
  content: "";
  display: table;
  clear: both;
}
.leader__name .pic {
  float: left;
  padding-right: 15px;
}
.leader__name .pic img {
  display: block;
}
.leader__name .name {
  float: left;
  padding-top: 2px;
}
.leader__name .name a {
  color: #949494;
  font-weight: 300;
}
.leader__name .name a:hover {
  color: #b64c4c;
}
.leader__changes {
  width: 15%;
}
.leader__changes .count {
  float: left;
}
.leader__changes .status {
  float: left;
  width: 18px;
  height: 18px;
  margin-top: 2px;
  margin-left: 15px;
}
.leader__changes .status.up {
  background: url("../img/icons/rating-up.png") no-repeat;
}
.leader__changes .status.down {
  background: url("../img/icons/rating-down.png") no-repeat;
}
.leader__dinamics {
  width: 20%;
}
.leader__dinamics img {
  display: block;
  width: 100%;
}
.leader__scores {
  width: 30%;
  padding-right: 50px;
}
.leader__scores .scoregraph {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-right: 10px;
}
.leader__scores .scoregraph__wrap {
  height: 5px;
  overflow: hidden;
  background: #ddd;
  border-radius: 4px;
}
.leader__scores .scoregraph__in {
  height: 5px;
  border-radius: 4px;
  background: #c87979;
}
.leader__scores .scoregraph__count {
  display: table-cell;
  vertical-align: middle;
}
.left-logo {
  width: 260px;
}
.left-logo a {
  display: block;
  width: 150px;
  height: 26px;
  margin: 45px auto 50px auto;
  background: url("../img/logo.png") no-repeat;
}
.left-user {
  position: relative;
  width: 150px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.left-user a.settings {
  z-index: 5;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  background: url("../img/icons/settings.png") no-repeat;
}
.left-user a.settings:hover {
  -webkit-transform: rotate(90deg) scale(1.2);
          transform: rotate(90deg) scale(1.2);
}
.left-user .notify {
  z-index: 5;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 18px;
  height: 18px;
  transition: 0.3s ease-out;
}
.left-user .notify:hover {
  top: -6px;
}
.left-user .notify a {
  font-size: 20px;
  color: #b64c4c;
}
.left-user .notify a:hover {
  font-size: 22px;
}
.left-user .prev {
  position: relative;
  width: 149px;
  height: 166px;
  padding-bottom: 15px;
}
.left-user .prev .rating {
  position: absolute;
  left: 0px;
  top: 0px;
}
.left-user .prev .pic {
  position: absolute;
  left: 6px;
  top: 6px;
}
.left-user .score {
  color: #5f5f5f;
  font-size: 12px;
  text-align: center;
  color: #474747;
}
.left-user .score .big {
  display: inline-block;
  margin-right: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #5f5f5f;
}
.left-menu ul {
  margin: 0;
  list-style: none;
}
.left-menu ul li {
  margin: 0;
  list-style: none;
}
.left-menu a {
  position: relative;
  padding-left: 35px;
  color: #5f5f5f;
  font-size: 15px;
  text-transform: uppercase;
}
.left-menu a:hover {
  color: #fff;
}
.left-menu a:hover:before {
  opacity: 1;
}
.left-menu a:before {
  content: " ";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 24px;
  height: 24px;
  background: #f00;
  opacity: 0.3;
  transition: 0.3s ease-out;
}
.left-menu li {
  padding: 20px 0 20px 60px;
}
.left-menu li.is-active {
  position: relative;
  border-left: 3px solid #b64c4c;
}
.left-menu li.is-active a {
  color: #fff;
}
.left-menu li.is-active a:before {
  opacity: 1;
}
.left-menu li.menu-tourns a:before {
  background: url("../img/icons/menu-tourns.png") center center no-repeat;
}
.left-menu li.menu-train a:before {
  background: url("../img/icons/menu-train.png") center center no-repeat;
}
.left-menu li.menu-rating a:before {
  background: url("../img/icons/menu-rating.png") center center no-repeat;
}
.left-menu li.menu-booty a:before {
  background: url("../img/icons/menu-booty.png") center center no-repeat;
}
.left-menu li.menu-faq a:before {
  background: url("../img/icons/menu-faq.png") center center no-repeat;
}
.pager {
  text-align: center;
  padding-bottom: 20px;
}
.pager ul {
  display: inline-block;
  margin: 0;
  list-style: none;
}
.pager ul li {
  margin: 0;
  list-style: none;
}
.pager li.prev {
  padding-right: 15px;
}
.pager li.prev a {
  width: 17px !important;
  height: 14px !important;
  background: url("../img/icons/arrow-right.png") no-repeat !important;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.pager li.prev a:hover {
  opacity: 0.7;
}
.pager li.next {
  padding-left: 15px;
}
.pager li.next a {
  width: 17px !important;
  height: 14px !important;
  background: url("../img/icons/arrow-right.png") no-repeat !important;
}
.pager li.next a:hover {
  opacity: 0.7;
}
.pager li.is-disable a {
  cursor: default;
  opacity: 0.4 !important;
}
.pager li {
  display: table-cell;
  width: 35px;
  vertical-align: middle;
  text-align: center;
}
.pager li:hover a {
  width: 30px;
  height: 30px;
}
.pager li:hover a span {
  font-size: 16px;
}
.pager li.is-active a {
  width: 30px;
  height: 30px;
}
.pager li.is-active span {
  font-size: 16px;
}
.pager a {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 auto;
  background: #c2c2c2;
  border-radius: 15px;
}
.pager span {
  display: inline-block;
  padding-top: 3px;
  font-size: 0;
  color: #fff;
}
.pager-small li {
  width: 25px;
}
.pager-small li:hover a {
  width: 8px;
  height: 8px;
  background: #9a9a9a;
}
.pager-small li.is-active a {
  width: 8px;
  height: 8px;
  background: #9a9a9a;
}
.pager-slider {
  position: relative;
}
.pager-slider a {
  position: absolute;
  z-index: 10;
  top: 0px;
  display: block;
  width: 17px;
  height: 14px;
}
.pager-slider a:hover {
  opacity: 0.7;
}
.pager-slider a.prev {
  left: 0;
  background: url("../img/icons/arrow-right.png") no-repeat;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.pager-slider a.next {
  right: 0;
  background: url("../img/icons/arrow-right.png") no-repeat;
}
.pager-slider a.is-disable {
  cursor: default;
  opacity: 0.4 !important;
}
.pager-slider .sep {
  position: absolute;
  left: 45px;
  top: -2px;
  width: 2px;
  height: 22px;
  background: #e6e6e6;
}
.popbox {
  position: relative;
}
.popbox__name {
  padding-bottom: 30px;
}
.popbox__name h3 {
  margin: 0;
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
}
.popbox__content {
  padding-bottom: 10px;
}
.popbox__action {
  text-align: center;
}
.popbox__action a {
  margin: 0 10px;
}
.ratingbox {
  padding-top: 10px;
  position: relative;
}
.ratingbox:before,
.ratingbox:after {
  content: "";
  display: table;
  clear: both;
}
.ratingbox.has-no-padding {
  padding: 0;
  margin-right: -20px;
}
.ratingbox__select {
  float: left;
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
}
.ratingbox__select:before,
.ratingbox__select:after {
  content: "";
  display: table;
  clear: both;
}
.ratingbox__select div {
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 10%;
  height: 20px;
}
.ratingbox__select div:after {
  display: block;
  content: " ";
  position: absolute;
  left: 0px;
  top: 11px;
  width: 8px;
  height: 8px;
  background: #c2c2c2;
  border-radius: 15px;
}
.ratingbox__select div.star-on-png:after {
  background: #b64c4c;
}
.ratingbox__count {
  float: right;
  margin-top: -20px;
  font-size: 20px;
  font-weight: 500;
}
.ratingtable {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding-bottom: 20px;
}
.ratingtable__name {
  display: table-cell;
  vertical-align: top;
  width: 290px;
  color: #949494;
  text-transform: uppercase;
  vertical-align: middle;
}
.ratingtable__counts {
  display: table-cell;
  vertical-align: top;
  vertical-align: middle;
}
.ratingtable__num {
  display: table-cell;
  vertical-align: top;
  width: 280px;
  text-align: right;
  vertical-align: middle;
}
.search {
  position: relative;
  float: left;
  transition: 0.3s ease-out;
}
.search-btn {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 5;
  position: relative;
  vertical-align: middle;
  width: 75px;
  height: 75px;
  transition: 0.3s ease-out;
}
.search-btn:after {
  content: " ";
  position: absolute;
  left: -20px;
  top: 0px;
  background: #fff;
  width: 20px;
  height: 75px;
}
.search-btn:hover {
  background-color: #e7e7e7;
}
.search-btn a {
  display: block;
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  width: 75px;
  height: 75px;
  transition: none;
}
.search-btn a.open {
  background: url("../img/icons/search.png") center center no-repeat;
}
.search-btn a.close {
  transition: rotate 0.3s ease-out;
  background: url("../img/icons/close.png") center center no-repeat;
}
.search-btn a.close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.search-btn a.close.hide {
  display: none;
}
.search-form {
  z-index: 4;
  position: absolute;
  overflow: hidden;
  left: -510px;
  top: 0px;
  width: 510px;
  height: 75px;
  background: #f5f5f5;
  transition: 0.3s ease-out;
}
.search-form.show {
  left: 0;
}
.search-form .input {
  position: absolute;
  left: 75px;
  top: 0px;
  width: 360px;
  height: 75px;
  color: #949494;
  font-weight: 300;
  font-size: 18px;
  background: none !important;
  border: none;
}
.search-form .submit {
  z-index: 10;
  position: absolute;
  right: 0px;
  top: 0px;
  float: right;
  width: 75px;
  height: 75px;
  background: url("../img/icons/search-a.png") center center no-repeat !important;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}
.search-form .submit:hover {
  background-color: #e7e7e7 !important;
}
.sort-menu {
  float: right;
  padding-top: 30px;
}
.sort-menu.is-float-left {
  float: left;
  padding-left: 30px;
}
.sort-menu.is-float-right {
  padding-right: 30px;
}
.sort-menu ul {
  margin: 0;
  list-style: none;
}
.sort-menu ul li {
  margin: 0;
  list-style: none;
}
.sort-menu ul:before,
.sort-menu ul:after {
  content: "";
  display: table;
  clear: both;
}
.sort-menu li {
  float: left;
  text-align: center;
}
.sort-menu li.sort-desc span {
  background: url("../img/icons/arrow-up-grey.png") right center no-repeat;
}
.sort-menu li.sort-desc:hover span {
  background: url("../img/icons/arrow-up-blue.png") right center no-repeat;
}
.sort-menu li.is-active a {
  color: #4691c2;
}
.sort-menu li.is-active span {
  background: url("../img/icons/arrow-down-blue.png") right center no-repeat;
}
.sort-menu li.is-active.sort-desc span {
  background: url("../img/icons/arrow-up-blue.png") right center no-repeat;
}
.sort-menu a {
  display: block;
  color: #b2b2b2;
  text-transform: uppercase;
}
.sort-menu a:hover {
  color: #4691c2;
}
.sort-menu a:hover span {
  background: url("../img/icons/arrow-down-blue.png") right center no-repeat;
}
.sort-menu span {
  display: inline-block;
  padding-right: 15px;
  background: url("../img/icons/arrow-down-grey.png") right center no-repeat;
}
.sort-menu .date {
  width: 130px;
}
@media (min-height: 850px) and (min-width: 1700px) {
  .sort-menu .date {
    width: 170px;
  }
}
.sort-menu .members {
  width: 120px;
}
@media (min-height: 850px) and (min-width: 1700px) {
  .sort-menu .members {
    width: 170px;
  }
}
.sort-menu .price {
  width: 170px;
}
.taskadd-line {
  padding-bottom: 30px;
}
.taskadd-line.has-padding {
  padding-bottom: 60px;
}
.taskadd-line.has-no-padding {
  padding-bottom: 0;
}
.taskadd-line__name {
  padding-bottom: 13px;
  font-size: 16px;
  font-weight: 500;
}
.taskadd-line__content {
  position: relative;
}
.taskadd-line__content input,
.taskadd-line__content select {
  margin-bottom: 0;
}
.tableview {
  padding-bottom: 40px;
}
.tableview.is-blue .name a:hover {
  color: #4691c2;
}
.tableview-item {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 2px;
  background: #fff;
  border-radius: 3px;
  background: rgba(255,255,255,0.6);
  transition: 0.3s ease-out;
}
.tableview-item:hover {
  background: #fff;
}
.tableview-item__num,
.tableview-item__pic,
.tableview-item__name,
.tableview-item__date,
.tableview-item__members,
.tableview-item__price {
  display: table-cell;
  vertical-align: top;
  padding: 20px 10px;
}
.tableview-item__num {
  width: 10px;
  padding-left: 20px;
  color: #949494;
  text-align: center;
  vertical-align: top;
}
.tableview-item__pic {
  width: 70px;
  vertical-align: top;
}
.tableview-item__pic img {
  border: 10px solid #ededed;
  border-radius: 32px;
}
.tableview-item__name .cat {
  color: #949494;
  font-size: 10px;
  text-transform: uppercase;
}
.tableview-item__name .name a {
  display: table;
  color: #5f5f5f;
  text-transform: uppercase;
  line-height: 20px;
}
.tableview-item__name .name a:hover {
  color: #b64c4c;
}
.tableview-item__date {
  width: 130px;
  text-align: left;
}
@media (min-height: 850px) and (min-width: 1700px) {
  .tableview-item__date {
    width: 175px;
  }
}
.tableview-item__members {
  width: 120px;
  text-align: left;
}
@media (min-height: 850px) and (min-width: 1700px) {
  .tableview-item__members {
    width: 140px;
  }
}
.tableview-item__members .members {
  display: inline-block;
  padding-right: 30px;
  color: #5f5f5f;
  font-size: 30px;
  background: url("../img/icons/membersblock-big.png") right 13px no-repeat;
}
.tableview-item__price {
  width: 170px;
  text-align: right;
  padding-right: 20px;
  font-size: 20px;
  color: #b64c4c;
  white-space: nowrap;
}
.tableview-item__price span.hight {
  font-size: 30px;
}
.textarea-desc {
  position: relative;
  padding-bottom: 10px;
}
.textarea-desc textarea {
  margin: 0;
  border-radius: 4px;
  padding-bottom: 70px;
}
.textarea-desc__more {
  position: relative;
  box-sizing: content-box;
  width: auto;
  margin: 1px 1px;
  margin-top: -46px;
  height: 20px;
  padding: 15px 20px 10px 20px;
  background: #f5f5f5;
  border: 0;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
.textarea-desc__more:before,
.textarea-desc__more:after {
  content: "";
  display: table;
  clear: both;
}
.textarea-desc__more .attach {
  float: left;
}
.textarea-desc__more .attach a {
  display: inline-block;
  padding-left: 25px;
  color: #949494;
  background: url("../img/icons/attach.png") 0 center no-repeat;
}
.textarea-desc__more .attach a:after {
  content: " ";
  background: url("../img/icons/attach-a.png") 0 center no-repeat;
}
.textarea-desc__more .attach a:hover {
  color: #b64c4c;
  background: url("../img/icons/attach-a.png") 0 center no-repeat;
}
.textarea-desc__more .edittools {
  float: right;
  display: none;
}
.textbox {
  margin-bottom: 20px;
}
.textbox p {
  margin-bottom: 50px;
  font-weight: 300;
  line-height: 30px;
}
.textbox ul,
.textbox ol {
  margin-bottom: 50px;
}
.textbox__name {
  margin-bottom: 15px;
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
}
.textbox__subname {
  margin-bottom: 10px;
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
  text-transform: none;
}
.textline {
  display: inline-block;
  text-align: left;
  padding-bottom: 30px;
}
.textline__info {
  padding-bottom: 10px;
  font-size: 13px;
  color: #949494;
  text-transform: uppercase;
}
.textline__content {
  position: relative;
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
}
.textline__content .price {
  white-space: nowrap;
  color: #b64c4c;
}
.userprev {
  padding-bottom: 40px;
}
.userprev__name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.upperbar {
  width: 100%;
  font-size: 13px;
}
.upperbar:before,
.upperbar:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-height: 700px) and (min-width: 1300px) {
  .upperbar.is-fixed {
    z-index: 3;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0px;
  }
}
@media (min-height: 700px) and (min-width: 1300px) and (min-height: 700px) and (min-width: 1300px) {
  .upperbar.is-fixed .upperbar-in {
    height: 95px;
    overflow: hidden;
    margin-left: 260px;
    margin-right: 0px;
    padding: 10px 20px;
    border-radius: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.21);
  }
  .upperbar.is-fixed .upperbar-in.has-bg-grey {
    background: #f5f5f5;
  }
}
.upperbar .upperbar-in {
  overflow: hidden;
  height: 75px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 3px;
}
.upperbar .fl-right {
  display: table-cell;
  padding: 10px 20px 0 0;
}
.upperbar .has-arrow {
  position: relative;
}
.upperbar .has-arrow:after {
  z-index: 4;
  bottom: -45px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #eee;
  border-width: 26px;
  margin-left: -26px;
}
.upperbar .col {
  padding: 0 10px;
}
.upperbar .col:first-child {
  padding-left: 0;
}
.upperbar .col:last-child {
  padding-right: 0;
}
.upperbar .col-nav {
  width: 200px;
}
.upperbar .col-price {
  width: 200px;
  padding-right: 30px;
  text-align: right;
}
.upperbar__info {
  float: left;
  display: table;
}
.upperbar__info .num {
  display: table-cell;
  vertical-align: top;
  width: 65px;
  font-size: 16px;
  padding-right: 25px;
  text-align: right;
  height: 75px;
  vertical-align: middle;
}
.upperbar__info .pic {
  display: table-cell;
  vertical-align: top;
  height: 75px;
  vertical-align: middle;
}
.upperbar__info .pic img {
  display: block;
  transition: 0.3s ease-out;
}
.upperbar__info .pic img:hover {
  opacity: 0.7;
}
.upperbar__info .name {
  display: table-cell;
  vertical-align: top;
  height: 75px;
  padding-left: 30px;
  vertical-align: middle;
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
}
.upperbar__info .name a {
  color: #5f5f5f;
}
.upperbar__info .name a:hover {
  color: #b64c4c;
}
.upperbar__price {
  text-align: right;
  display: inline-block;
}
.upperbar__price .name {
  text-align: left;
  padding-bottom: 10px;
  font-size: 13px;
  color: #949494;
  text-transform: uppercase;
}
.upperbar__price .price {
  margin-top: -10px;
  font-size: 20px;
  color: #b64c4c;
}
.upper-contacts {
  font-size: 16px;
}
.upper-contacts:before,
.upper-contacts:after {
  content: "";
  display: table;
  clear: both;
}
.upper-contacts .phone {
  float: left;
  color: #5f5f5f;
  font-weight: 500;
}
.upper-contacts .sepline {
  float: left;
  width: 2px;
  height: 22px;
  background: #e6e6e6;
  margin: 0 15px;
}
.upper-contacts .text {
  float: left;
}
.user-level {
  display: block;
}
.user-level:before,
.user-level:after {
  content: "";
  display: table;
  clear: both;
}
.user-level .num {
  float: left;
  color: #b64c4c;
  font-size: 40px;
}
.user-level .right {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.user-level .level {
  color: #b64c4c;
  text-transform: uppercase;
  margin-bottom: -3px;
}
.user-level .count {
  position: relative;
  color: #949494;
}
.user-level .count .black {
  display: inline-block;
  color: #5f5f5f;
}
.user-level .status {
  float: left;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 20px;
  margin-left: 15px;
}
.user-level .status.up {
  background: url("../img/icons/rating-up.png") no-repeat;
}
.user-level .status.down {
  background: url("../img/icons/rating-down.png") no-repeat;
}
.user-ratingview {
  padding-bottom: 30px;
}
.user-rview-item {
  display: table;
  width: 100%;
  table-layout: "auto";
  margin-bottom: 2px;
  background: #f5f5f5;
  border-radius: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: 0.3s ease-out;
}
.user-rview-item:hover {
  background: #fff;
}
.user-rview-item.is-active {
  border-color: #b64c4c;
  border-color: #b64c4c;
}
.user-rview-item.is-active .user-rview-item__num {
  color: #b64c4c;
}
.user-rview-item.is-active a {
  color: #b64c4c;
}
.user-rview-item__num,
.user-rview-item__pic,
.user-rview-item__name,
.user-rview-item__rating {
  display: table-cell;
  vertical-align: top;
  vertical-align: middle;
  padding: 20px 20px;
}
.user-rview-item__num {
  width: 40px;
  padding-right: 0;
}
.user-rview-item__pic {
  width: 50px;
}
.user-rview-item__pic img {
  transition: 0.3s ease-out;
}
.user-rview-item__pic img:hover {
  opacity: 0.7;
}
.user-rview-item__name {
  text-transform: uppercase;
  line-height: 20px;
}
.user-rview-item__name a {
  color: #5f5f5f;
}
.user-rview-item__name a:hover {
  color: #b64c4c;
}
.user-rview-item__rating {
  width: 210px;
  padding-right: 0;
}
.scroller-box {
  overflow: hidden;
  position: relative;
  height: 300px;
  padding-bottom: 5px;
}
.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
}
.mCustomScrollBox:hover .mCSB_scrollTools {
  opacity: 1;
}
.mCustomScrollBox .mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto;
  margin-right: 30px;
}
.mCustomScrollBox .mCSB_scrollTools {
  position: absolute;
  width: 17px;
  height: auto;
  left: auto;
  top: 5px;
  right: 5px;
  bottom: 0px;
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: auto;
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger {
  z-index: 1;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger .mCSB_dragger_bar {
  position: relative;
  width: 17px;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  background-color: #ebeff5;
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer .mCSB_draggerRail {
  width: 5px;
  height: 100%;
  margin: 0px auto;
}
.ripplelink {
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-out;
  z-index: 0;
}
.ripplelink:hover {
  z-index: 2;
}
.ripplelink-ink {
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.ripplelink-animate {
  -webkit-animation: ripple 0.9s linear;
          animation: ripple 0.9s linear;
}
.remodal-overlay {
  background: rgba(0,0,0,0.5);
}
.remodal {
  position: relative;
  width: 650px;
  padding: 40px;
  text-align: left;
  background: #fff;
}
.remodal-close {
  position: absolute;
  top: 35px;
  right: 25px;
  width: 28px;
  height: 28px;
}
.remodal-close:after {
  cursor: pointer;
  content: "×";
  font-size: 28px;
  line-height: 28px;
  font-weight: 300;
  text-decoration: none;
  color: #949494;
  transition: 0.3s ease-out;
}
.remodal-close:hover:after {
  color: #b64c4c;
  font-size: 40px;
}
.bx-pager {
  display: table;
  width: 100%;
  table-layout: "auto";
  width: auto;
  position: relative;
  padding: 0 30px;
}
.bx-pager .bx-pager-item {
  display: table-cell;
  vertical-align: top;
  padding: 0 10px;
  padding-top: 3px;
  text-indent: -9999px;
}
.bx-pager .bx-pager-item a {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 auto;
  background: #c2c2c2;
  border-radius: 15px;
}
.bx-pager .bx-pager-item a.active {
  background: #9a9a9a;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
