/*
	proscom.ru 
	Simple Communication
	Ilya Komichev
*/
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=cyrillic,latin");
@import "css/normalize.css";
.clear:before,
.clear:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  display: none;
}
.full {
  box-sizing: border-box;
}
.full_100 {
  box-sizing: border-box;
  width: 100%;
}
.inline {
  display: inline;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
@-ms-viewport {
  width: device-width;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.middle {
  vertical-align: middle;
}
.margin-no {
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
ul {
  margin: 0 0 15px 0px;
}
ul li {
  margin: 0 0 20px 15px;
  list-style: disc outside;
}
ul li ul,
ul li ol {
  margin: 15px 0 10px 0;
}
ol {
  margin: 0 0 15px 0;
}
ol li {
  margin: 0 0 15px 15px;
  list-style: decimal inside;
}
ol li ul,
ol li ol {
  margin: 15px 0 10px 0;
}
.no-list-style {
  margin: 0;
}
.no-list-style li {
  margin-left: 0;
  list-style-type: none;
}
.list-style-grey {
  margin: 0;
  list-style: none;
}
.list-style-grey li {
  margin: 0;
  list-style: none;
}
.list-style-grey li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
  line-height: 20px;
}
.list-style-grey li:before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: color-blue-grey;
}
.no-list-style-no-mr {
  margin: 0;
  list-style: none;
}
.no-list-style-no-mr li {
  margin: 0;
  list-style: none;
}
.no-list-style-no-mr li {
  margin: 0;
}
p {
  margin-bottom: 20px;
}
a {
  color: #4691c2;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
a:hover {
  text-decoration: none;
  color: #b64c4c;
}
a.active {
  cursor: default;
  text-decoration: none;
}
li.is-active a {
  cursor: default;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px 0;
  color: #5f5f5f;
  font-weight: 300;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 16px;
}
label,
input,
button,
select,
textarea {
  color: #5f5f5f;
  font-size: 16px;
  font-family: 'Roboto', arial, tahoma, sans-serif;
}
select {
  width: 270px;
  margin-bottom: 10px;
  height: 53px;
  padding: 0px 10px;
  box-sizing: border-box;
  color: #5f5f5f;
  font-size: 16px;
  font-family: 'Roboto', arial, tahoma, sans-serif;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}
select.select-grey {
  background: #f5f5f5;
}
select option {
  padding: 5px 10px;
  color: #5f5f5f;
}
select.full {
  width: 100%;
}
select.width-500 {
  width: 500px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"] {
  width: 310px;
  margin-bottom: 20px;
  padding: 15px 20px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
input.input-full {
  width: 100%;
  box-sizing: border-box;
}
input.input-trans {
  width: 100%;
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  font-size: 36px;
  font-weight: 300;
}
.input-with-price {
  position: relative;
  display: inline-block;
}
.input-with-price input {
  padding-right: 45px;
}
.input-with-price:after {
  content: " ";
  z-index: 30;
  position: absolute;
  right: 15px;
  top: 17px;
  width: 18px;
  height: 18px;
  background: url("../img/icons/rub.png") no-repeat;
}
input[type="submit"] {
  width: auto;
  padding: 15px 30px;
  border: none;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
input[type="submit"]:hover {
  background: #1aa257;
}
input[type="submit"]:active {
  opacity: 0.8;
}
textarea {
  width: 100%;
  max-width: 100%;
  height: 250px;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.textarea_full {
  width: 100%;
}
input[type="radio"] + label {
  cursor: pointer;
  margin: 0px 20px 0px 0;
  color: #5f5f5f;
  font-size: 16px;
  font-family: 'Roboto', arial, tahoma, sans-serif;
}
input[type="radio"] + label::before {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0 10px -3px 0px;
  background: url("../img/radio.png") no-repeat;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:disabled + label {
  cursor: default;
}
input[type="radio"] + label:hover::before {
  background-position: 0px 0px;
}
input[type="radio"]:checked + label::before {
  background-position: 0 -18px;
}
input[type="radio"]:disabled + label::before {
  background-position: 0px 0px;
  opacity: 0.8;
}
input[type="radio"]:checked:disabled + label::before {
  background-position: 0px -18px;
  opacity: 0.8;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
  margin: 0 3px 0 0;
  vertical-align: top;
}
input[type="checkbox"] + label {
  cursor: pointer;
}
input[type="checkbox"]:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type="checkbox"]:not(checked) + label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 35px;
  font-size: 14px;
}
input[type="checkbox"]:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 0px;
  width: 21px;
  height: 21px;
  background: url("../img/checkbox-b.png") no-repeat;
}
input[type="checkbox"]:checked + label:after {
  background-position: 0 -21px;
}
input[type="checkbox"]:checked + label:before {
  position: relative;
}
input[type="checkbox"].checkbox-right + label {
  cursor: pointer;
}
input[type="checkbox"].checkbox-right:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type="checkbox"].checkbox-right:not(checked) + label {
  position: relative;
  display: block;
  padding: 0 40px 0 0;
  font-size: 14px;
}
input[type="checkbox"].checkbox-right:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: inherit;
  right: 0px;
  width: 11px;
  height: 11px;
  background: url("../img/checkbox.png") no-repeat;
}
input[type="checkbox"].checkbox-right:checked + label:after {
  background-position: 0 -11px;
}
input[type="checkbox"].checkbox-right:checked + label:before {
  position: relative;
}
table {
  width: 100%;
}
table td {
  vertical-align: top;
}
html {
  height: 100%;
}
.page-body {
  height: 100%;
  font-size: 14px;
  color: #5f5f5f;
  font-family: 'Roboto', arial, tahoma, sans-serif;
  font-weight: 500;
  background: #eee;
}
.page-white {
  background: #fff;
}
.ilkome {
  display: table;
  table-layout: fixed;
  position: relative;
  width: 100%;
  min-width: 1270px;
  min-height: 100%;
}
@-moz-document url-prefix() {
  .ilkome {
    height: 100%;
  }
}
#menu {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.1;
  background: #fff;
}
#menu:hover {
  opacity: 1;
}
#menu a {
  display: inline-block;
  padding: 5px;
}
.l-left {
  display: table-cell;
  position: relative;
  width: 260px;
  height: auto;
  vertical-align: top;
  background: #1a1a1a;
}
@media (min-height: 700px) and (min-width: 1300px) {
  .l-left {
    z-index: 10;
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
  }
}
.l-right {
  display: table-cell;
  position: relative;
  width: 100%;
  padding: 20px 20px 80px 20px;
  box-sizing: border-box;
  vertical-align: top;
}
@media (min-height: 700px) and (min-width: 1300px) {
  .l-right {
    padding-left: 280px;
  }
}
.row,
.upperbar {
  table-layout: fixed;
  display: table;
  width: 100%;
}
.col {
  width: 100%;
  display: table-cell;
  vertical-align: top;
  vertical-align: top;
  box-sizing: border-box;
}
.col.is-middle {
  vertical-align: middle;
}
.row-2 > .col {
  width: 50%;
}
.row-2 > .col:first-child {
  padding-right: 15px;
}
.row-2 > .col:last-child {
  padding-left: 15px;
}
.row-3 > .col {
  width: 33.333%;
}
.row-3 > .col:first-child {
  padding-right: 10px;
}
.row-3 > .col:last-child {
  padding-left: 10px;
}
.pad-b-80 {
  padding-bottom: 80px;
}
.btn,
.btn-blue,
.btn-green,
.btn-grey,
.btn-red,
.add-task-full a {
  display: inline-block;
  width: 200px;
  padding: 15px 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  white-space: nowrap;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  border-radius: 3px;
}
.btn:hover,
.btn-blue:hover,
.btn-green:hover,
.btn-grey:hover,
.btn-red:hover,
.add-task-full a:hover {
  color: #fff;
}
.btn-blue {
  background: #4691c2;
}
.btn-blue:hover {
  background: #599cc8;
}
.btn-green {
  background: #3cc8b4;
}
.btn-green:hover {
  background: #1abca5;
}
.btn-grey {
  color: #a2a2a2;
  background: #e7e7e7;
}
.btn-grey:hover {
  color: #a2a2a2;
  background: #dedede;
}
.btn-red,
.add-task-full a {
  background: #b64c4c;
}
.btn-red:hover,
.add-task-full a:hover {
  background: #bd5e5e;
}
.btn-blue-dotted {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
  color: #50b3a5;
  text-align: center;
  border: 1px dashed #50b3a5;
  border-radius: 4px;
}
.btn-blue-dotted:hover {
  color: rgba(80,179,165,0.7);
  border-color: rgba(80,179,165,0.7);
}
.icon {
  display: inline-block;
  vertical-align: baseline;
}
.icon-medals {
  font-size: 30px;
  display: inline-block;
  padding-right: 25px;
  background: url("../img/icons/medal.png") center right no-repeat;
}
.icon-medals.has-margin {
  margin-right: 15px;
}
.content {
  padding-top: 60px;
  padding-bottom: 30px;
}
.content__name {
  padding-bottom: 40px;
}
.content__name .desc {
  color: #949494;
  font-size: 13px;
  text-transform: uppercase;
}
.content-wrap {
  width: 1036px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
.content-text {
  padding: 90px 0 50px 0;
  font-weight: 300;
}
.content-text.has-small-padding {
  padding-top: 30px;
}
.content-text h1 {
  font-size: 36px;
  margin-bottom: 75px;
}
.content-text h1.is-small {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.content-text p {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 16px;
}
ol.list-offer {
  margin: 0;
  list-style: none;
  margin-bottom: 75px;
}
ol.list-offer li {
  margin: 0;
  list-style: none;
}
ol.list-offer li {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 40px;
}
ol.list-offer li.name {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 300;
}
.add-task-full {
  padding-bottom: 20px;
}
.add-task-full a {
  width: 100%;
  display: block;
  padding: 25px;
  font-size: 16px;
  background: #c46d6d;
}
.add-task-full a .link {
  display: inline-block;
  padding-left: 30px;
  background: url("../img/icons/plus.png") no-repeat;
}
.close-popup {
  float: left;
  background: #f5f5f5;
  border-radius: 4px;
}
.close-popup a {
  display: block;
  width: 75px;
  height: 75px;
  background: url("../img/icons/close.png") center center no-repeat;
}
.close-popup a:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.dateblock {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  text-align: left;
}
.dateblock .day {
  position: absolute;
  left: 0px;
  top: -2px;
  color: #5f5f5f;
  font-size: 30px;
}
.dateblock .month {
  padding-top: 6px;
  font-size: 13px;
  line-height: 13px;
  color: #949494;
  text-transform: uppercase;
}
.dateblock .year {
  font-size: 11px;
  color: #949494;
}
.membersblock {
  display: inline-block;
  padding-right: 30px;
  color: #5f5f5f;
  font-size: 30px;
  background: url("../img/icons/membersblock.png") right 13px no-repeat;
}
.rub {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/icons/rub.png") no-repeat;
}
.slider-nav {
  float: left;
  padding: 28px 0 0 30px;
}
.slider-nav:before,
.slider-nav:after {
  content: "";
  display: table;
  clear: both;
}
.slider-nav ul {
  margin: 0;
  list-style: none;
}
.slider-nav ul li {
  margin: 0;
  list-style: none;
}
.slider-nav li {
  display: inline-block;
  vertical-align: middle;
}
.slider-nav a {
  display: block;
}
.slider-nav li.prev {
  padding-right: 15px;
}
.slider-nav li.prev a {
  width: 17px;
  height: 14px;
  background: url("../img/icons/arrow-right.png") no-repeat;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.slider-nav li.prev a:hover {
  opacity: 0.7;
}
.slider-nav li.next {
  padding-left: 15px;
}
.slider-nav li.next a {
  width: 17px;
  height: 14px;
  background: url("../img/icons/arrow-right.png") no-repeat;
}
.slider-nav li.next a:hover {
  opacity: 0.7;
}
.slider-nav li.sep {
  width: 1px;
  height: 22px;
  margin: 0 5px;
  background: #e6e6e6;
}
.action-btns {
  text-align: center;
}
.action-btns a {
  margin: 0 10px;
}
.infoboxs {
  position: relative;
  padding-bottom: 50px;
  font-size: 0;
  text-align: center;
  display: block;
  margin: 0 -10px 0 -10px;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}
.infoboxs > * {
  position: relative;
  width: 100%;
  min-height: 1px;
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
}
.infoboxs > * {
  padding: 0 10px;
}
.infobox {
  padding: 10px;
  width: 33.333333333333336%;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
@media (min-height: 900px) and (min-width: 1800px) {
  .infobox {
    width: 25%;
  }
}
.infobox-in {
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.infobox-in:hover {
  border: 1px solid rgba(148,148,148,0.5);
}
@media (min-height: 700px) and (min-width: 1300px) {
  .infobox-in {
    padding: 50px 40px;
  }
}
.infobox_empty .booty-in {
  position: relative;
}
.infobox_empty .w1 {
  width: 40%;
}
.infobox_empty .w2 {
  width: 60%;
}
.infobox_empty .w3 {
  width: 80%;
}
.infobox_empty .line {
  display: block;
  height: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #f1f1f1;
}
.infobox_empty .desc {
  margin-top: 30px;
}
.infobox__pic img {
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.infobox__pic img:hover {
  opacity: 0.7;
}
.infobox__content {
  padding-top: 30px;
  color: #949494;
}
.infobox__content .name {
  padding-bottom: 10px;
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.infobox__content .name:hover {
  color: #b64c4c;
}
.infobox__content .date {
  padding-bottom: 30px;
  font-size: 13px;
  text-transform: uppercase;
}
.infobox__content .desc {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
}
.greybox {
  background: #f5f5f5;
  margin: 0 -20px 60px -20px;
  padding: 60px 0 40px 0;
}
.files {
  position: relative;
  padding-bottom: 30px;
}
.files.has-padding {
  padding-bottom: 100px;
}
.files.has-padding-60 {
  padding-bottom: 60px;
}
.file {
  margin-bottom: 3px;
  padding: 10px 15px 10px 10px;
  text-align: left;
  border-radius: 4px;
  background: #f5f5f5;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.file:before,
.file:after {
  content: "";
  display: table;
  clear: both;
}
.file__ext {
  float: left;
  width: 28px;
  height: 32px;
  padding-top: 9px;
  font-size: 11px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.file__ext.red {
  background: url("../img/icons/file-extend-red.png") no-repeat;
}
.file__prev {
  float: left;
  width: 28px;
  font-size: 11px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}
.file__name {
  float: left;
  padding-top: 7px;
  padding-left: 20px;
}
.file__name a {
  color: #949494;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.file__name a:hover {
  color: #b64c4c;
}
.file__download {
  float: right;
  padding-top: 10px;
}
.file__download a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/download.png") 0 -16px no-repeat;
}
.file__download a:hover {
  background-position: 0 0;
}
.file__remove {
  float: right;
  padding-top: 8px;
}
.file__remove a {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/remove.png") center center no-repeat;
  opacity: 0.5;
}
.file__remove a:hover {
  opacity: 1;
}
.filter-menu {
  float: left;
  padding: 15px 0 0 20px;
  overflow: hidden;
}
.filter-menu ul {
  margin: 0;
  list-style: none;
  background: #f5f5f5;
  border-radius: 30px;
  padding: 3px;
}
.filter-menu ul li {
  margin: 0;
  list-style: none;
}
.filter-menu ul:before,
.filter-menu ul:after {
  content: "";
  display: table;
  clear: both;
}
.filter-menu li {
  float: left;
}
.filter-menu li.is-active a {
  color: #fff;
  background: #b64c4c;
  border-radius: 30px;
}
.filter-menu a {
  display: block;
  padding: 12px 15px;
  color: #949494;
  text-transform: uppercase;
}
.filter-menu a:hover {
  color: #b64c4c;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 100%;
  padding-left: 300px;
  padding-right: 40px;
  box-sizing: border-box;
}
.footer:before,
.footer:after {
  content: "";
  display: table;
  clear: both;
}
.footer-copy {
  float: left;
  padding: 5px 0 4px 45px;
  color: #949494;
  background: url("../img/logo-sm.png") 0 center no-repeat;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  margin: 0;
  list-style: none;
}
.footer-menu ul li {
  margin: 0;
  list-style: none;
}
.footer-menu li {
  display: inline-block;
  padding-left: 30px;
}
.footer-menu a {
  color: #949494;
  font-size: 13px;
}
.footer-menu a:hover {
  color: #b64c4c;
}
.footer-menu li.is-active a {
  color: #b64c4c;
}
.left-logo {
  width: 260px;
}
.left-logo a {
  display: block;
  width: 150px;
  height: 26px;
  margin: 45px auto 50px auto;
  background: url("../img/logo.png") no-repeat;
}
.left-user {
  position: relative;
  width: 150px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.left-user a.settings {
  z-index: 5;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  background: url("../img/icons/settings.png") no-repeat;
}
.left-user a.settings:hover {
  -webkit-transform: rotate(90deg) scale(1.2);
      -ms-transform: rotate(90deg) scale(1.2);
          transform: rotate(90deg) scale(1.2);
}
.left-user .notify {
  z-index: 5;
  position: absolute;
  right: -5px;
  top: 0px;
  width: 18px;
  height: 18px;
}
.left-user .notify a {
  font-size: 20px;
  color: #b64c4c;
}
.left-user .notify a:hover {
  font-size: 22px;
}
.left-user .prev {
  position: relative;
  width: 149px;
  height: 166px;
  padding-bottom: 15px;
}
.left-user .prev .rating {
  position: absolute;
  left: 0px;
  top: 0px;
}
.left-user .prev .pic {
  position: absolute;
  left: 6px;
  top: 6px;
}
.left-user .score {
  color: #5f5f5f;
  font-size: 12px;
  text-align: center;
  color: #474747;
}
.left-user .score .big {
  display: inline-block;
  margin-right: 3px;
  font-size: 16px;
  font-weight: bold;
  color: #5f5f5f;
}
.left-menu ul {
  margin: 0;
  list-style: none;
}
.left-menu ul li {
  margin: 0;
  list-style: none;
}
.left-menu a {
  position: relative;
  padding-left: 35px;
  color: #5f5f5f;
  font-size: 15px;
  text-transform: uppercase;
}
.left-menu a:hover {
  color: #fff;
}
.left-menu a:hover:before {
  opacity: 1;
}
.left-menu a:before {
  content: " ";
  position: absolute;
  left: 0px;
  top: -2px;
  width: 24px;
  height: 24px;
  background: #f00;
  opacity: 0.3;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.left-menu li {
  padding: 20px 0 20px 60px;
}
.left-menu li.is-active {
  position: relative;
  border-left: 3px solid #b64c4c;
}
.left-menu li.is-active a {
  color: #fff;
}
.left-menu li.is-active a:before {
  opacity: 1;
}
.left-menu li.menu-tourns a:before {
  background: url("../img/icons/menu-tourns.png") center center no-repeat;
}
.left-menu li.menu-train a:before {
  background: url("../img/icons/menu-train.png") center center no-repeat;
}
.left-menu li.menu-rating a:before {
  background: url("../img/icons/menu-rating.png") center center no-repeat;
}
.left-menu li.menu-booty a:before {
  background: url("../img/icons/menu-booty.png") center center no-repeat;
}
.left-menu li.menu-faq a:before {
  background: url("../img/icons/menu-faq.png") center center no-repeat;
}
.pager {
  text-align: center;
  padding-bottom: 20px;
}
.pager ul {
  display: inline-block;
  margin: 0;
  list-style: none;
}
.pager ul li {
  margin: 0;
  list-style: none;
}
.pager li.prev {
  padding-right: 15px;
}
.pager li.prev a {
  width: 17px !important;
  height: 14px !important;
  background: url("../img/icons/arrow-right.png") no-repeat;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.pager li.prev a:hover {
  opacity: 0.7;
}
.pager li.next {
  padding-left: 15px;
}
.pager li.next a {
  width: 17px !important;
  height: 14px !important;
  background: url("../img/icons/arrow-right.png") no-repeat;
}
.pager li.next a:hover {
  opacity: 0.7;
}
.pager li.is-disable a {
  cursor: default;
  opacity: 0.4 !important;
}
.pager li {
  display: table-cell;
  width: 35px;
  vertical-align: middle;
  text-align: center;
}
.pager li:hover a {
  width: 30px;
  height: 30px;
}
.pager li:hover a span {
  font-size: 16px;
}
.pager li.is-active a {
  width: 30px;
  height: 30px;
}
.pager li.is-active span {
  font-size: 16px;
}
.pager a {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 auto;
  background: #c2c2c2;
  border-radius: 15px;
}
.pager span {
  display: inline-block;
  padding-top: 3px;
  font-size: 0;
  color: #fff;
}
.rating {
  position: relative;
}
.rating:before,
.rating:after {
  content: "";
  display: table;
  clear: both;
}
.rating__select {
  float: left;
}
.rating__select:before,
.rating__select:after {
  content: "";
  display: table;
  clear: both;
}
.rating__select div {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.rating__select div:after {
  display: block;
  content: " ";
  position: absolute;
  left: 0px;
  top: 11px;
  width: 8px;
  height: 8px;
  background: #c2c2c2;
  border-radius: 15px;
}
.rating__select div.star-on-png:after {
  background: #b64c4c;
}
.rating__count {
  float: right;
  font-size: 20px;
  font-weight: 500;
}
.search {
  position: relative;
  float: left;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.search-btn {
  z-index: 5;
  position: relative;
  vertical-align: middle;
  width: 75px;
}
.search-btn a.open {
  display: block;
  width: 75px;
  height: 75px;
  background: #f5f5f5 url("../img/icons/search.png") center center no-repeat;
}
.search-btn a.open:hover {
  background-color: #f5f5f5;
}
.search-btn a.close {
  display: none;
  width: 75px;
  height: 75px;
  background: url("../img/icons/close.png") center center no-repeat;
}
.search-btn a.close:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.search-form {
  z-index: 4;
  position: absolute;
  overflow: hidden;
  left: -510px;
  top: 0px;
  width: 0px;
  height: 75px;
  background: #f5f5f5;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
  width: 510px;
}
.search-form.show {
  left: 0;
}
.search-form .input {
  position: absolute;
  left: 75px;
  top: 0px;
  width: 360px;
  height: 75px;
  color: #949494;
  font-weight: 300;
  font-size: 18px;
  background: none !important;
  border: none;
}
.search-form .submit {
  z-index: 10;
  position: absolute;
  right: 0px;
  top: 0px;
  float: right;
  width: 75px;
  height: 75px;
  background: url("../img/icons/search-a.png") center center no-repeat !important;
  cursor: pointer;
}
.sort-menu {
  float: right;
  padding-top: 30px;
}
.sort-menu ul {
  margin: 0;
  list-style: none;
}
.sort-menu ul li {
  margin: 0;
  list-style: none;
}
.sort-menu ul:before,
.sort-menu ul:after {
  content: "";
  display: table;
  clear: both;
}
.sort-menu li {
  float: left;
  text-align: center;
}
.sort-menu li.sort-desc span {
  background: url("../img/icons/arrow-up-grey.png") right center no-repeat;
}
.sort-menu li.sort-desc span:hover {
  background: url("../img/icons/arrow-up-blue.png") right center no-repeat;
}
.sort-menu li.is-active a {
  color: #4691c2;
}
.sort-menu li.is-active span {
  background: url("../img/icons/arrow-down-blue.png") right center no-repeat;
}
.sort-menu li.is-active.sort-desc span {
  background: url("../img/icons/arrow-up-blue.png") right center no-repeat;
}
.sort-menu a {
  display: block;
  color: #b2b2b2;
  text-transform: uppercase;
}
.sort-menu a:hover {
  color: #4691c2;
}
.sort-menu a:hover span {
  background: url("../img/icons/arrow-down-blue.png") right center no-repeat;
}
.sort-menu span {
  display: inline-block;
  padding-right: 15px;
  background: url("../img/icons/arrow-down-grey.png") right center no-repeat;
}
.sort-menu .date {
  width: 125px;
}
.sort-menu .members {
  width: 140px;
}
.sort-menu .price {
  width: 160px;
}
.taskadd-line {
  padding-bottom: 30px;
}
.taskadd-line.has-padding {
  padding-bottom: 60px;
}
.taskadd-line.has-no-padding {
  padding-bottom: 0;
}
.taskadd-line__name {
  padding-bottom: 13px;
  font-size: 16px;
  font-weight: 500;
}
.taskadd-line__content {
  position: relative;
}
.taskadd-line__content input,
.taskadd-line__content select {
  margin-bottom: 0;
}
.tableview {
  padding-bottom: 40px;
}
.tableview-item {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 2px;
  background: #fff;
  border-radius: 3px;
}
.tableview-item__num,
.tableview-item__pic,
.tableview-item__name,
.tableview-item__date,
.tableview-item__members,
.tableview-item__price {
  display: table-cell;
  padding: 20px 10px;
  vertical-align: middle;
}
.tableview-item__num {
  width: 10px;
  padding-left: 20px;
  color: #949494;
  text-align: center;
  vertical-align: top;
}
.tableview-item__pic {
  width: 70px;
  vertical-align: top;
}
.tableview-item__pic img {
  border: 10px solid #ededed;
  border-radius: 32px;
}
.tableview-item__name .cat {
  color: #949494;
  font-size: 10px;
  text-transform: uppercase;
}
.tableview-item__name .name a {
  display: table;
  color: #5f5f5f;
  text-transform: uppercase;
  line-height: 20px;
}
.tableview-item__name .name a:hover {
  color: #b64c4c;
}
.tableview-item__date {
  width: 130px;
  text-align: left;
}
.tableview-item__members {
  width: 120px;
  text-align: left;
}
.tableview-item__price {
  width: 170px;
  text-align: right;
  padding-right: 20px;
  font-size: 20px;
  color: #b64c4c;
  white-space: nowrap;
}
.tableview-item__price span.hight {
  font-size: 30px;
}
.textarea-desc {
  position: relative;
  padding-bottom: 10px;
}
.textarea-desc textarea {
  margin: 0;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}
.textarea-desc__more {
  margin-top: -5px;
  padding: 15px 20px 10px 20px;
  background: #f5f5f5;
  border: 1px solid #d6d6d6;
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
.textarea-desc__more:before,
.textarea-desc__more:after {
  content: "";
  display: table;
  clear: both;
}
.textarea-desc__more .attach {
  float: left;
}
.textarea-desc__more .attach a {
  display: inline-block;
  padding-left: 25px;
  color: #949494;
  background: url("../img/icons/attach.png") 0 center no-repeat;
}
.textarea-desc__more .attach a:after {
  content: " ";
  background: url("../img/icons/attach-a.png") 0 center no-repeat;
}
.textarea-desc__more .attach a:hover {
  color: #b64c4c;
  background: url("../img/icons/attach-a.png") 0 center no-repeat;
}
.textarea-desc__more .edittools {
  float: right;
  display: none;
}
.userprev {
  padding-bottom: 40px;
}
.userprev__name {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.upperbar {
  vertical-align: middle;
  overflow: hidden;
  background: #fff;
  border-radius: 3px;
  height: 75px;
  margin-bottom: 20px;
  font-size: 13px;
}
.upperbar:before,
.upperbar:after {
  content: "";
  display: table;
  clear: both;
}
.upperbar .fl-right {
  display: table-cell;
  padding: 15px 20px 0 0;
}
.upperbar.is-big {
  height: 120px;
  margin: -20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 0;
}
.upperbar .has-arrow {
  position: relative;
}
.upperbar .has-arrow:after {
  z-index: 4;
  bottom: -45px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #eee;
  border-width: 26px;
  margin-left: -26px;
}
.upperbar__info {
  float: left;
  display: table;
}
.upperbar__info .num {
  display: table-cell;
  vertical-align: top;
  width: 65px;
  font-size: 16px;
  padding-right: 25px;
  text-align: right;
  height: 75px;
  vertical-align: middle;
}
.upperbar__info .pic {
  display: table-cell;
  vertical-align: top;
  height: 75px;
  vertical-align: middle;
}
.upperbar__info .pic img {
  display: block;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
}
.upperbar__info .pic img:hover {
  opacity: 0.7;
}
.upperbar__info .name {
  display: table-cell;
  vertical-align: top;
  height: 75px;
  padding-left: 30px;
  vertical-align: middle;
  font-size: 16px;
  color: #5f5f5f;
  font-weight: 500;
  text-transform: uppercase;
}
.upperbar__info .name a {
  color: #5f5f5f;
}
.upperbar__info .name a:hover {
  color: #b64c4c;
}
.upper-contacts {
  font-size: 16px;
}
.upper-contacts:before,
.upper-contacts:after {
  content: "";
  display: table;
  clear: both;
}
.upper-contacts .phone {
  float: left;
  color: #5f5f5f;
  font-weight: 500;
}
.upper-contacts .sepline {
  float: left;
  width: 2px;
  height: 22px;
  background: #e6e6e6;
  margin: 0 15px;
}
.upper-contacts .text {
  float: left;
}
.scroller-box {
  overflow: hidden;
  position: relative;
  height: 300px;
  padding-bottom: 5px;
}
.mCustomScrollBox {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
}
.mCustomScrollBox:hover .mCSB_scrollTools {
  opacity: 1;
}
.mCustomScrollBox .mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto;
  margin-right: 30px;
}
.mCustomScrollBox .mCSB_scrollTools {
  position: absolute;
  width: 17px;
  height: auto;
  left: auto;
  top: 5px;
  right: 5px;
  bottom: 0px;
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: auto;
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger {
  z-index: 1;
  width: 100%;
  height: 30px;
  cursor: pointer;
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer .mCSB_dragger .mCSB_dragger_bar {
  position: relative;
  width: 17px;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  background-color: #ebeff5;
}
.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer .mCSB_draggerRail {
  width: 5px;
  height: 100%;
  margin: 0px auto;
}
.ripplelink {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s ease-out;
          transition: 0.3s ease-out;
  z-index: 0;
}
.ripplelink:hover {
  z-index: 1000;
}
.ripplelink-ink {
  display: block;
  position: absolute;
  background: rgba(255,255,255,0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.ripplelink-animate {
  -webkit-animation: ripple 0.9s linear;
          animation: ripple 0.9s linear;
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
